
{% set cp_gallery = __SELF__.cp_gallery %}

<section class="dd-s-section">
    <div class="layout">
        <div class="title-page greyColor">
            <h2 class="title-h2"> <strong>{{'Gallery'|_}} </strong>  </h2>

            <p>No one knows our cities as well as we do. Browse our comprehensive
                district guides to learn about the most desirable or most up-and-coming places to live across the country.</p>
        </div>
    </div>
    <div class="dd-b-categories">
        <div class="layout">
            <div class="dd-b-select-wraper">
                <select id="gallery-select">
                    <option value="1">Hình ảnh</option>
                    <option value="2">Video</option>
                </select>
            </div>
        </div>
    </div>

    <div class="dd-b-content">
        <div class="layout">
            {% set numSlider = cp_gallery.image.count/8 %}
            {% set startSlide = 0 %}
            <div class="dd-b-gallery-slider dd-image active">
                {% for i in 0..(numSlider|round(0, 'ceil') - 1) %}
                {% set varNumslider = 0 %}
                <div class="slide">
                    {% for gallery_img in cp_gallery.image|slice(startSlide,8) %}
                    <div class="gallery-item">
                        <a href="{{ gallery_img.path }}" data-effect="mfp-zoom-in"><img src=" {{ gallery_img.path }}" alt=""></a>
                    </div>
                    {% endfor %}
                    {% set varNumslider = varNumslider + 1 %}
                    {% set startSlide = startSlide + (8*varNumslider) %}
                </div>
                {% endfor %}
            </div>

            <div class="dd-b-gallery-slider dd-video">
                <div class="slide">
                    {% if cp_gallery.video_gallery|length > 0 %}
                        {% for video in cp_gallery.video_gallery %}
                            {% if video.type_video == 0 %}
                                <div class="gallery-item dd-iframe">
                                    <a href="{{ video.file_video|media }}" data-effect="mfp-zoom-in"><img src="{{ video.thumb_video|media }}" alt=""></a>
                                </div>
                                {% else %}
                                <div class="gallery-item dd-iframe">
                                    <a href="http://www.youtube.com/watch?v={{ video.link_video }}" data-effect="mfp-zoom-in"><img src="{{ video.thumb_video|media }}" alt=""></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        No Video to show
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</section>