<div class="dd-s-section dd-s-newsdetail">
    <div class="layout">
        <div class="dd-head">
            <div class="dd-row-fluid">
                <div class="span-8">
                    <div class="dd-title">
                        <h3><strong>{{singlePost.title}}</strong></h3>
                        <p class="dd-date">{{singlePost.updated_at|date("m/d/Y")}} </p>
                    </div>
                </div>
                <div class="span-4 float-right ">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ 'news-detail'|page({'slug':singlePost.slug}) }}"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                    <a href="http://twitter.com/share?text={{singlePost.title}}&url={{ 'news-detail'|page({'slug':singlePost.slug}) }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dd-body">
        <div class="dd-feature-img">
            <img src="{{singlePost.featured_image.path}}" alt="">
        </div>
        <div class="layout">
            <div class="html-content">
                {{singlePost.description|raw}}
            </div>
            <div class="dd-more-img">
                {% for image in  singlePost.gallery%}
                    <img src="{{image.path}}" alt="">
                {% endfor%}
            </div>
        </div>
    </div>
    <div class="dd-foot">
        <div class="layout">
            <h3 class="dis-content-title">{{'Relate Posts'|_}}</h3>
            <div class="dd-b-relate-posts dd-row-fluid">
                {% for relatepost in relateposts  %}
                    {% if loop.index <= 4 %}
                    <div class="dd-item span-3">
                        <img src="{{relatepost.featured_image.path}}" alt="">
                        <div class="dd-content">
                            <h4> {{relatepost.title}}</h4>
                            <a href="{{'news-detail' |page ({'slug':relatepost.slug}) }}" class="btn-custom greyHover">{{'Xêm thêm'|_}}</a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor%}

            </div>
        </div>
    </div>

</div>