@import "mixinspage";

@include keyframes('loaddingAnimation'){
    0%{
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

    }
    50%{
        -webkit-transform: translate(-50%,30%);
        -moz-transform: translate(-50%,30%);
        -ms-transform: translate(-50%,30%);
        -o-transform: translate(-50%,30%);
        transform: translate(-50%,30%);

    }
    100%{
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

    }
};
@include keyframes('cirlceEffect'){
    0%{

        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);

    }
    50%{
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        transform: scale(1.01);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@include keyframes('animationAbout'){
    0%{
        top: 8%;
        left: 14%;
        right: 12%;
        bottom: 10%;
        opacity: 0;
    }
    30%{

        opacity: .3;
    }
    100%{
        top: 0;
        left: 6%;
        right: 4%;
        bottom: 2%;
        opacity: 0;
    }
}
@include keyframes('menushow'){
    0%{
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100%{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);

    }
}
@include keyframes('MenuSticky'){
    0%{
        @include transform(translateY(-100%));

    }

    100%{
        @include transform(translateY(0));
    }
};
