.distrist-guides-wrap {
    background: #003349;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 60px;
    .district-info {
        @include opacity(0);
        position: absolute;
        z-index: 20;
        left: 50%;
        top: 650px;
        width: 350px;
        text-align: center;
        transform: translateX(-50%);
        -webkit-transform: -webkit-translateX(-50%);
        -moz-transform: -moz-translateX(-50%);
        text-align: center;
        .small-title {
            display: none;
        }
        h3 {
            a {
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                line-height: 150%;
                color: #ffffff;

                &:hover {
                    @include opacity(0.8);
                }
            }
        }
    }
    @include mq('tablet'){
        padding-top: 0;
        padding-bottom: 0;
    }
}
.distrist-guides-content {
    h2, p {
        color: #FFF;
    }
    p {
        text-transform: capitalize;
    }
    .send-request-btn{
        a{
            color: #414141;
            span{
                border: 1px solid #414141;
                cursor: pointer;
                &::before{
                    background: #FFF;
                }
                &::after{
                    border: 1px solid #414141;
                }
            }
        }

        &:focus span:before,
        &:hover span:before{
            background: rgba(255,255,255,0.8);
        }
    }
    @include mq('tablet'){
        z-index: 10;
        @include center-absolute('horizontal');
        top: 75px;
    }
}
#district-guides {
    display: none;
	@include mq('tablet'){
        display: block;
        width: 100%;
        height: 818px;
        overflow: hidden;
        * {
            display: block;
        }
        svg {
            transform-origin: 0 0;
        }
    }
}