

$breakpoints: (
        "phone": 320px,
        "phone-wide": 375px,
        "tablet": 768px,
        "tablet-wide": 1024px,
        "desktop": 1080px,
        "desktop-1400": 1400px,
        "desktop-1600": 1600px,
        "desktop-1800": 1800px,
        "desktop-1900": 1850px,
);
$mainColor: #003349;
$blue: #004e9f;
$grey: #646569;
