{% set newslist = __SELF__.cp_news %}

<div class="dd-s-section dd-s-news">
    <div class="dd-b-container">
        <div class="title-page greyColor">
            <h2 class="title-h2"> <strong>{{'Tin tức'|_}} </strong>  </h2>
        </div>
    </div>
    <div class="dd-b-container">
        <div class="dd-b-news-highlight">
            {% for news in highlightnews %}
            <div class="dd-news-highlight">
                    <div class="dd-feature-img">
                        <a href="{{'news-detail' |page ({'slug':news.slug}) }}">
                            <img src="{{news.featured_image.path}}" alt="">
                        </a>
                    </div>
                    <div class="dd-body">
                        <h2><strong><a href="{{'news-detail' |page ({'slug':news.slug}) }}">{{news.title}}</a></strong></h2>
                        <p>{{news.small_description |raw}}</p>
                    </div>
            </div>
            {% endfor %}
        </div>

        <div class="dd-b-search-wrapper">
            <form method="get" data-request-data="">
                <div class="search">
                    <input type="text" name="p"  placeholder="{{'Search other news?'|_}}">
                    <input type="submit">
                </div>
            </form>
        </div>
        <div class="dd-b-content">
            {% for singlePost in newslist %}
            <div class="dd-news-item">
                <a href="{{'news-detail' |page ({'slug':singlePost.slug})}}">
                    <div class="dd-head">
                        <img src="{{singlePost.featured_image.path}}" alt="">
                    </div>
                    <div class="dd-body">
                        <h4><a href="{{'news-detail' |page ({'slug':singlePost.slug}) }}"> {{singlePost.title|raw}}</a></h4>
                        <p class="dd-date">{{singlePost.updated_at|date}}</p>
                        <div class="dd-excerpt">
                            <p>{{str_limit(singlePost.small_description |raw, 150)}}</p>
                        </div>
                        <a href="{{'news-detail' |page ({'slug':singlePost.slug}) }}" class="btn-custom greyHover">{{'Xem thêm'|_}}</a>
                    </div>
                </a>

            </div>
            {% endfor %}
            {{ newslist.render|raw }}


        </div>
    </div>

</div>