==
{% for cp_ca in cp_listca %}
        <div class="working-item-wrap">
        <div class="working-item">
                <div class="working-item-col">
                        <h4 class="working-title">{{ cp_ca.name_career |_}}</h4>

                </div>
                <div class="working-item-col">
                        <div class="dec-working-item">
                                <span>{{ cp_ca.location.name_location |_}}</span>
                                <span>{% if cp_ca.type_career == '1' %}
            {{ 'Part Time'|_ }}
        {% else %}
            {{ 'Full Time'|_ }}
        {% endif %}</span>
                        </div>
                </div>
                <div class="working-item-col">
                        <a href="#" class="btn-custom transfer_data_work_apply greyHover desktop-only" data-remodal-target="apply" data-valworkapply="{{ cp_ca.name_career |_}}">
                                {{ 'Apply now'|_ }}
                        </a>
                </div>
        </div>
        <div class="working-item-dec-wrap">
                <div class="working-item-dec">
                        {{ cp_ca.description_career|raw }}
                        <div class="title-job"><span>{{ cp_ca.category_career.name_category_career |_}}</span></div>
                        <a href="#" class="btn-custom transfer_data_work_apply greyHover mobile-only" data-remodal-target="apply" data-valworkapply="{{ cp_ca.name_career |_}}">
                                {{ 'Apply now'|_ }}
                        </a>
                </div>
        </div>
        </div>
{% endfor %}