==
<div class="project-page">
    <div class="cases">
        <div class="layout">
            <div class="project-slider">
                {% for cp_pr in cp_listpr %}
                <div class="banner-slider-item">
                    <img src="{{ cp_pr.featured_image_pj.path }}" alt="banner lancaster">
                    <div class="item-figure-content">
                        <h2 class="title-h2">{{ cp_pr.name_pj }}</h2>
                        <p>{{ cp_pr.quote_pj }}</p>
                        <a href="{{ 'project-detail'|page({'slug':cp_pr.slug_pj}) }}">
                            <span>{{ 'Xem chi tiết'|_ }}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="other-cases-wrap white-bg">
        <div class="layout">
            <div class="title-page greyColor">
                <h2 class="title-h2">  <strong>{{'Dự án'|_}}</strong> {{'Khác'|_}}</h2>
            </div>
            <div class="other-cases">
                <div class="other-cases-slider dots-whitebg">
                    {% set nofound = 0 %}
                    {% for cp_pr in cp_otherpr %}
                    {% if loop.index > 3 %}
                    {% set nofound = 1 %}
                    <div class="other-cases-slide">
                        <a href="{{ 'project-detail'|page({'slug':cp_pr.slug_pj}) }}">
                            <div class="other-cases-item">
                                <img src="{{ cp_pr.featured_image_pj.path }}" alt="project lancaster">
                                <h4>{{ cp_pr.name_pj |_}}</h4>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}

                    {% if nofound == 0 %}
                    <div class="layout-1">
                        {{ 'đang cập nhật'|_ }}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

