{% for invest in ddInvest %}
<div class="dd-b-col-3">
    <div class="district-guides-item">
        <a class="thumb-district" href="{{ 'how-to-invest-detail'|page({'slug':invest.slug}) }}">
            <img src="{{ invest.featured_image.path }}" alt="lancaster">
        </a>
        <div class="district-guides-info">
            <a class="district-name" href="{{ 'how-to-invest-detail'|page({'slug':invest.slug}) }}">
                {{ invest.title }}
            </a>
        </div>
    </div>
</div>
{% endfor %}