==
{% if cp_listho|length == 0 %}
<p>{{'Not Found'|_}}</p>
{% else %}

{% for cp_ho in cp_listho %}
<div class="slide find-your-home-item">
    <a href="{{ 'find-your-home-detail'|page({'slug':cp_ho.slug_home}) }}">
        <div class="thumb">
            <img src="{{ cp_ho.featured_image_home.path }}" alt="buy your house">
        </div>
    </a>
    <div class="info-wrap">
        <div class="info-title">
            <h4><a href="{{ 'find-your-home-detail'|page({'slug':cp_ho.slug_home}) }}">{{ cp_ho.name_home|_ }}</a></h4>
            <p>{{'Lancaster Lincoln'|_}}</p>
        </div>
        <div class="house-info">
            <span>{{ cp_ho.lot_size_home }}m2 </span>
            <span>
            {% if cp_ho.bedrooms_home == 'Studio'%}
            {{ cp_ho.bedrooms_home }}
            {% else %}
            {{ cp_ho.bedrooms_home }} {{'Bedrooms'|_}}
            {% endif %}
            </span>
            <span>{{ cp_ho.baths_home }} {{'Bathrooms'|_}}</span>

        </div>
        <div class="save-info">
            <div class="save-info-col">
                {% if auth %}
                {% set is_saved = 0 %}
                {% for cp_eachsh in cp_listsh %}
                {% if cp_eachsh.home_id == cp_ho.id and auth.id == cp_eachsh.member_id %}
                {% set is_saved = 1 %}
                {% endif %}
                {% endfor %}
                <a class="save_home_{{ cp_ho.id }} save-btn" href="#" data-request="onSaveHome" data-request-flash data-request-data="cp_detailhoid: {{cp_ho.id}}, cp_unsaveho: 0"
                   data-request-success="$(this).css('display','none');$('.unsave_home_{{ cp_ho.id }}').css('display','inline-block');" {% if is_saved != 0 %} style="display: none;" {% endif %} >{{'Đã Lưu'|_}} </a>


                <a class="save-btn-active unsave_home_{{ cp_ho.id }} save-btn" href="#" data-request="onSaveHome" data-request-flash data-request-data="cp_detailhoid: {{cp_ho.id}}, cp_unsaveho: 1"
                   data-request-success="$(this).css('display','none');$('.save_home_{{ cp_ho.id }}').css('display','inline-block');" {% if is_saved == 0 %} style="display: none;" {% endif %}>{{'Lưu'|_}} </a>
                {% else %}
                <a href="#login" class="save-btn">
                    <span>{{'Lưu'|_}}</span>
                </a>
                {% endif %}
            </div>
            <div class="save-info-col">
                <a href="{{ 'find-your-home-detail'|page({'slug':cp_ho.slug_home}) }}">
                    <span>{{'More info'|_}}</span>
                </a>
            </div>
        </div>

    </div>
</div>

{% endfor %}

{% endif %}