==
{% for cp_dg in cp_listdg %}
        <div class="dd-b-col-3">
                <div class="district-guides-item">
                        <a class="thumb-district" href="{{ 'district-guide-detail'|page({'slug':cp_dg.slug_dg}) }}">
                                <img src="{{ cp_dg.featured_image.path }}" alt="lancaster">
                        </a>
                        <div class="district-guides-info">
                                <a class="district-name" href="{{ 'district-guide-detail'|page({'slug':cp_dg.slug_dg}) }}">
                                        {{ cp_dg.name_dg |_}}
                                </a>
                                <p class="city">{{ cp_dg.location.name_location |_}}</p>

                        </div>
                </div>
        </div>
{% endfor %}