<div class="dd-b-content">
    <div class="layout">
        {% set numSlider = ddAlbumGallery.count/8 %}
        {% set startSlide = 0 %}
        <div class="dd-b-album-slider">
            {% for i in 0..(numSlider|round(0, 'ceil') - 1) %}
            {% set varNumslider = 0 %}
            <div class="slide">
                {% for album in ddAlbumGallery %}
                <div class="gallery-item">
                    <a href="{{ 'gallery-detail' |page ({'slug':album.slug})}}" data-effect="mfp-zoom-in"><img src=" {{ album.featured_image.path }}" alt=""></a>
                    <h4>{{album.title}}</h4>
                </div>
                {% endfor %}
                {% set varNumslider = varNumslider + 1 %}
                {% set startSlide = startSlide + (8*varNumslider) %}
            </div>
            {% endfor %}
        </div>
    </div>

</div>