==
<footer>
    <div class="top-footer">
        <div class="layout">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-info-footer">
                        <span>{{'Gọi cho chúng tôi?'|_}}</span>
                        <a href="tel:+84838246810"><strong>{{ddSocialInfo.phone}}</strong></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="send-request-btn">
                        <a href="{{'contact'|page}}">
                            <span>{{'Gửi Yêu cầu'|_}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="go-top-btn-wrap">
                        <a href="#">
                            <div class="go-top-btn-col go-top-btn">
                                <img src="{{'assets/images/arrow-top.svg'|theme }}" alt="go top lancaster">
                            </div>
                            <div class="go-top-btn-col gotop-btn desktop-only">
                                Top
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mid-footer">

        <div class="row layout">
            <div class="col-md-3">
                <div class="footer-col-content">
                    <h3 class="title-col-footer">{{'Liên hệ'|_}}</h3>
                    <!--<h2>Inquiries?</h2>-->
                    <p>{{ddSocialInfo.email|_}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-col-content">
                    <h3 class="title-col-footer">{{'Văn phòng'|_}}</h3>
                    <p class="office-address">{{ddSocialInfo.address|_}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-col-content">
                    <h3 class="title-col-footer">{{'Tin tức mới'|_}}</h3>
                    <p>{{ 'Get the lastest news from Lancaster'|_ }}</p>
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup" class="mailchimp-footer">
                        <form action="//facebook.us16.list-manage.com/subscribe/post?u=a19025a6f5580e3e7963c3da5&amp;id=21c0ea1cad" method="post" id="mc-embedded-subscribe-form1" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL1" class="post-title-row"></label>
                                    <input type="email" value="" name="EMAIL1" class="required email" id="mce-EMAIL1" placeholder="{{ 'your email'|_ }}">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a19025a6f5580e3e7963c3da5_21c0ea1cad" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="{{ 'Subcribles'|_ }}" name="subscribe" id="mc-embedded-subscribe1" class="button"></div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src={{'assets/js/mc-validate.js'|theme}}></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL1';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-col-content follow-us">
                    <h3 class="title-col-footer">{{'Theo dõi'|_}}</h3>
                    <div class="sns-footer">
                        <a href="{{ddSocialInfo.facebook_link}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="{{ddSocialInfo.twitter_link}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="{{ddSocialInfo.instagram_link}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-wrap">
        <div class="layout">
            <div class="bottom-footer">
                <div class="bottom-footer-col logo-footer">
                    <img src="{{'assets/images/logo-lancaster-black.png'|theme }}" alt="logo black lancaster">
                </div>
                <div class="bottom-footer-col">

                    {{ddSocialInfo.footer_description|raw |_}}

                </div>
                <div class="policy bottom-footer-col">
                    <a href="#">{{ 'Terms & Conditions'|_ }}</a>
                    <a href="#">{{ 'Privacy Policy'|_ }}</a>
                </div>

            </div>
        </div>
    </div>
</footer>