[menu]
start = "id-5"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
[menu menu2]
start = "id-6"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
<header>
    <div class="layout">
        <nav class="left-nav">
            <a href="#" class="show-menu">
                <span class="icon-menu mobile-only"></span>
                <span class="desktop-only icon-menu">Menu</span>
            </a>
        </nav>
        <nav class="center-nav">
            <a href="{{ ''|app }}">
                <img src="{{'assets/images/logo-lancaster-white.svg'|theme }}" alt="logo lancaster">
                <img src="{{'assets/images/logo-lancaster-blue.svg'|theme }}" alt="logo lancaster">
            </a>

        </nav>
        <nav class="right-nav">
            <ul>
                    {% if auth %}
                <li class="logined">
                    <a href="#">
                        <span>{{ auth.firstname ~ ' ' ~ auth.lastname }}</span>
                    </a>
                    <img class="user-avatar" src="{{'assets/images/avatar.jpg' | theme}}" alt="">
                </li>
                    {% else %}
                    <li class="login-btn">
                        <a href="#" data-remodal-target="login">
                            <span class="icon-login"></span>
                            <span class="desktop-only"> {{'Đăng nhập' |_}}</span>
                        </a>
                     </li>
                    {% endif %}
                    {% if auth %}
                <li class="exit-login">
                    <form action="" method="post" data-request="onLogout">
                        <button>{{ 'Thoát'|_ }}</button>
                    </form>
                </li>
                    {% else %}
                <li class="register-btn">
                    <a href="#" data-remodal-target="register" class="desktop-only">
                        <span class="icon-register"></span><span> {{'Đăng ký' |_}}</span>
                    </a>
                </li>

                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<div class="menu-wrap">
    <div class="desktop-only">
        <div class="dd-b-header-menuPopup">
            <div class="dd-b-floatRight">
                <nav class="right-nav">
                    <ul class="align-left">
                        {% if auth %}
                        <li class="logined">
                            <a href="#">
                                <span>{{ auth.firstname ~ ' ' ~ auth.lastname }}</span>
                            </a>
                            <img class="user-avatar" src="{{'assets/images/avatar.jpg' | theme}}" alt="">
                        </li>
                        {% else %}
                        <li class="login-btn">
                            <a href="#" data-remodal-target="login">
                                <span class="icon-login"></span>
                                <span class="desktop-only"> {{'Đăng nhập' |_}}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if auth %}
                        <li class="exit-login">
                            <form action="" method="post" data-request="onLogout">
                                <button>{{ 'Thoát'|_ }}</button>
                            </form>
                        </li>
                        {% else %}
                        <li class="register-btn">
                            <a href="#" data-remodal-target="register" class="desktop-only">
                                <span class="icon-register"></span><span> {{'Đăng ký' |_}}</span>
                            </a>
                        </li>

                        {% endif %}
                    </ul>
                </nav>
                <div class="lang-menu">
                    <ul>
                        <li {% if activeLocale == 'vn'  %} class='active'  {% endif %}>
                            <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vn'">{{'Vn'|_}}</a>
                        </li>
                        <li {% if activeLocale == 'en' %} class="active"  {% endif %}>
                            <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">{{'En'|_}}</a>
                        </li>



                    </ul>
                </div>
            </div>
        </div>
        <div class="minus-menu"></div>

    </div>
    <div class="menu-overflow">
        <div class="logo-menu desktop-only">
            <img src="{{'assets/images/logo-white.png' | theme}}" alt="logo lancater">
        </div>
        <div class="menu">
            <div class="top-menu-display-mobile mobile-only">
                <figure>
                    <a href="/">
                        <img src="{{'assets/images/logo-lancaster.png'|theme}}" alt="logo lancaster">
                    </a>
                    <div class="minus-icon-popup-wrap"><div class="minus-icon-popup"></div></div>

                </figure>
            </div>

            <div class="main-menu">
                {% component 'menu' %}
            </div>
            <div class="menu2">
                {% component 'menu2' %}
                <ul class="nav nav-pills">
                    <li class="item item-custom social-menu">
                        {{'Theo dõi trên: ' |_}}
                        <a href="{{ ddSocialInfo.facebook_link }}">
                            <span aria-hidden="true" class="social_facebook"></span>
                        </a>
                        <a href="{{ddSocialInfo.twitter_link}}">
                            <span aria-hidden="true" class="social_twitter"></span>
                        </a>
                        <a href="{{ddSocialInfo.instagram_link}}">
                            <span aria-hidden="true" class="social_instagram"></span>
                        </a>
                    </li>
                </ul>
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup" class="mailchimp-menu">
                    <form action="//facebook.us16.list-manage.com/subscribe/post?u=a19025a6f5580e3e7963c3da5&amp;id=21c0ea1cad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                            <div class="mc-field-group">
                                <label for="mce-EMAIL" class="post-title-row"> <h4>{{ 'Newsletter'|_ }}</h4> </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="{{ 'Enter your email address'|_ }}">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a19025a6f5580e3e7963c3da5_21c0ea1cad" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="{{ 'Send'|_ }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->


                <div class="lang-mobile mobile-only">
                    <ul>
                        <li {% if activeLocale == 'vn' %} class="current-lang-mobile"  {% endif %}>
                        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vn'">VN</a>
                        </li>
                        <li {% if activeLocale == 'en' %} class="current-lang-mobile"  {% endif %}>
                            <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">EN</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="loadding-wrap">
    <div class="loadding">
        <div class="logo-loading">
            <img src="{{'assets/images/logo-img-white.svg'| theme}}" alt="logo lancaster">
        </div>
        <div class="loadding-ver-line">
            <img src="{{'assets/images/loading-flare.png'| theme}}" alt="logo lancaster">
        </div>
    </div>
</div>

<div>
    {% component 'members' %}
</div>