{% set cp_listdg = __SELF__.cp_listdg %}
{% set cp_listdglc = __SELF__.cp_listdglc %}

<div class="dictrict-guides-wrap">
    <div class="dictrict-guides-main-content">
        <div class="layout">
            <div class="title-page greyColor">
                <h2 class="title-h2"> <strong>{{'district'|_}} </strong>  {{'guides'|_}} </h2>
                {% component 'detailcb' %}
            </div>
        </div>

        <div class="filter-region">
            <span class="filter-search-wrap">
                <div class="layout">
                    <div class="filter-search">
                        <select name="dglc"
                                data-request="onFilterDistrictGuide"
                                data-request-update="filterdistrictguide: '#filterdistrictguide'">
                            <option value="0" class="mobile-only">{{ 'Chọn khu vực' |_}} </option>
                            <option value="0">{{'Tất cả'|_}}</option>
                            {% for cp_dglc in cp_listdglc %}
                            <option value="{{ cp_dglc.id }}" {% if cp_dglc.id ==selectedID %} selected {% endif %}>{{ cp_dglc.name_location }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </span>
        </div>


        <div class="district-guides-content">
            <div class="layout">
                <div id="filterdistrictguide">
                    {% partial "filterdistrictguide" cp_listdg=cp_listdg %}
                </div>
            </div>
        </div>

    </div>

</div>

