<!--banner-->
    <div class="banner layout">
        <div class="banner-slider banner-single">
            <div class="banner-slider-item">
                {% component "bannerpage" %}
                <h1 class="title-banner"><strong>{{'Liên hệ'|_}} </strong></h1>
            </div>
        </div>
    </div>
    <div class="layout botom-banner">
        <div class="center-bot-nav">
            <span>{{'Lăn chuột để xem tiếp'|_}}</span>
        </div>
    </div>
    <!--banner-->
    <div class="contact-wrap">
        <div class="layout">
            <div class="contact-dec">
                {{contactPageInfo.description|raw |_}}
            </div>
        </div>
    </div>
    <div class="contact-main-content">
        <div class="layout">
            <div class="dd-row-fluid">
                <div class="span-6">
                    <div class="contact-col-wrap contact-form">
                        <h2 class="unsolicited-application">{{'Gửi yêu cầu'|_}}</h2>
                        <div class="confirm-container">
                            <!--This will contain the confirmation when the email is successfully sent-->
                        </div>
                        <form id="contactForm" class="flexiContactForm" role="form"
                              data-request="{{ contactForm }}::onMailSent"
                              data-request-update="'{{ contactForm }}::confirm': '.confirm-container'">
                            <div class="form-field">
                                <input type="text" placeholder="Họ và tên " id="yourname" name="name">
                            </div>
                            <div class="form-field">
                                <input type="email" placeholder="Địa chỉ email" id="youremail" name="email">
                            </div>
                            <div class="form-field">
                                <textarea id="message" cols="40" rows="8" placeholder="Nội dung" name="body"></textarea>
                                <input type="submit" value="Gửi">
                            </div>
                        </form>
                    </div>

                </div>
                <div class="span-6">
                    <div class="contact-col-wrap contact-info">
                        <div class="contact-info-row">
                            <h4 class="contact-title">{{'Văn phòng Lancaster'|_}}</h4>
                            <p>{{contactPageInfo.address|_}}
                            <p>{{contactPageInfo.phone|_}}</p>
                        </div>
                        <div class="contact-info-row dd-b-col-4">
                            <h4 class="contact-title">{{'MARKETING & BUSINESS'|_}}</h4>
                            <p>{{contactPageInfo.makerting_email|_}}</p>
                        </div>
                        <div class="contact-info-row dd-b-col-4">
                            <h4 class="contact-title">{{'Sale'|_}}</h4>
                            <p>{{contactPageInfo.sale_email|_}}</p>
                        </div>
                        <div class="contact-info-row dd-b-col-4">
                            <h4 class="contact-title">{{'OTHER INQUIRIES'|_}}</h4>
                            <p>{{contactPageInfo.other_email|_}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
