<div class="banner layout">
    <div class="banner-slider banner-single">
        <div class="banner-slider-item">
            {% component "bannerpage" %}
            <h1 class="title-banner"><strong>{{ 'Giới'|_ }} </strong>{{'thiệu'|_}}</h1>
        </div>
    </div>
</div>
<div class="layout botom-banner">
    <div class="center-bot-nav">
        <span>{{'Scroll'|_}}</span>
    </div>
</div>
<!--banner-->

<div class="our-story">
    <div class="our-story-slider">
        {% component "sliderpage::stories" %}
    </div>
</div>

<div class="social-change-wrap">
    {% if false %}
    <div class="layout">
        <div class="social-change">
            <div class="title-page greyColor">
                <h2 class="title-h2"><strong>{{'SOCIAL'|_}}</strong> {{'Change'|_}} </h2>
                {% component "detailcb" %}
            </div>
            <div class="social-change-content">
                <div class="social-change-item">
                    <div class="social-change-circle"><span>{{'SUSTAINABILITY'|_}}</span></div>
                </div>
                <div class="social-change-item">
                    <div class="social-change-circle"><span>{{'HEALTHY BALANCE'|_}}</span></div>
                </div>
                <div class="social-change-item">
                    <div class="social-change-circle"><span>{{'TECHNOLOGY'|_}}</span></div>
                </div>
            </div>
            <div class="social-dec">
                {% component "detailcb2" %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="subsidiaries-wrap">
        <div class="layout">
            <div class="subsidiaries">
                <div class="subsidiaries-title">
                    <h2>{{'subsidiaries'|_}}</h2>
                </div>
                <div class="subsidiaries-dec">
                    {% component "detailcb3" %}
                </div>
                <div class="subsidiaries-thumb">
                    <img src="{{'assets/images/news_cover_glasses.jpg'|theme }}" alt="about img lancaster">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer-thinks">
    <div class="title-page greyColor">
        <h2 class="title-h2"><strong>{{'Khách hàng'|_}}</strong> {{'nói gì?'|_}}</h2>
    </div>
    <div class="customer-thinks-content">
        {% component "sliderpage2::customers" %}
    </div>
</div>

<div class="partners-wrap">
    <div class="title-page greyColor">
        <h2 class="title-h2"><strong>{{'Đối tác'|_}}</strong> </h2>
    </div>
    <div class="logo-customer layout">
        <div class="customer-slider dots-whitebg">
            {% component "sliderpage3::partners" %}
        </div>
    </div>
</div>
<div class="bot-about desktop-only">
    <img src="{{'assets/images/lancaster-about-bot.png'|theme }}" alt="">
</div>