{% set cp_detaildg = __SELF__.cp_detaildg %}

<div class="dictrict-guides-detail-content">
    <div class="dictrict-guides-detail-top-bg">
        <div class="layout">
            <div class="title-page greyColor">
                <h2 class="title-h2"> <strong>{{cp_detaildg.name_dg}}  </strong></h2>
                {{cp_detaildg.short_description_dg}}
            </div>
        </div>
    </div>
    <div class="banner-dictrict-guides-detail">
        <div class="layout">
            <img src="{{cp_detaildg.featured_image_1.path}}" alt="">
        </div>
    </div>

    <div class="dis-content">
        <div class="layout">
            <div class="dd-row-fluid">
                <div class="span-6">
                    <div class="dis-content-col">
                        <h3 class="dis-content-title">{{'WELCOME TO '|_}}{{cp_detaildg.name_dg |_}}</h3>
                        <div class="dis-content-dec">
                            {{cp_detaildg.main_description_dg|raw |_}}
                        </div>
                        {% for each_feature_dg in cp_detaildg.feature_dg %}
                        <div class="dis-content-info">
                            <div class="title-more-info">{{each_feature_dg.title_feature_dg |_}}</div>
                            <p>{{each_feature_dg.name_feature_dg |_}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="span-6">
                    <div class="dis-content-col">
                        <div class="map-iframe">
                            <!--{{cp_detaildg.map_dg|raw}}-->
                            <div id="map"></div>
                            <script>

                                var lat = {{cp_detaildg.lat}};
                                var lng = {{cp_detaildg.lng}};
                                function initMap() {
                                    // Styles a map in night mode.
                                    var myLatLng = {lat: lat, lng: lng};


                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        center: {lat: lat, lng: lng},
                                        zoom: 15,
                                        styles:
                                            [
                                                {
                                                    "featureType": "administrative",
                                                    "elementType": "all",
                                                    "stylers": [
                                                        {
                                                            "saturation": "-100"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "administrative.province",
                                                    "elementType": "all",
                                                    "stylers": [
                                                        {
                                                            "visibility": "off"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "landscape",
                                                    "elementType": "all",
                                                    "stylers": [
                                                        {
                                                            "saturation": -100
                                                        },
                                                        {
                                                            "lightness": 65
                                                        },
                                                        {
                                                            "visibility": "on"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "poi",
                                                    "elementType": "all",
                                                    "stylers": [
                                                        {
                                                            "saturation": -100
                                                        },
                                                        {
                                                            "lightness": "50"
                                                        },
                                                        {
                                                            "visibility": "simplified"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "road",
                                                    "elementType": "all",
                                                    "stylers": [
                                                        {
                                                            "saturation": "-100"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "road.highway",
                                                    "elementType": "all",
                                                    "stylers": [
                                                        {
                                                            "visibility": "simplified"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "road.arterial",
                                                    "elementType": "all",
                                                    "stylers": [
                                                        {
                                                            "lightness": "30"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "road.local",
                                                    "elementType": "all",
                                                    "stylers": [
                                                        {
                                                            "lightness": "40"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "transit",
                                                    "elementType": "all",
                                                    "stylers": [
                                                        {
                                                            "saturation": -100
                                                        },
                                                        {
                                                            "visibility": "simplified"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "water",
                                                    "elementType": "geometry",
                                                    "stylers": [
                                                        {
                                                            "hue": "#ffff00"
                                                        },
                                                        {
                                                            "lightness": -25
                                                        },
                                                        {
                                                            "saturation": -97
                                                        }
                                                    ]
                                                },
                                                {
                                                    "featureType": "water",
                                                    "elementType": "labels",
                                                    "stylers": [
                                                        {
                                                            "lightness": -25
                                                        },
                                                        {
                                                            "saturation": -100
                                                        }
                                                    ]
                                                }
                                            ]

                                    });
                                    var marker = new google.maps.Marker({
                                        position: myLatLng,
                                        map: map,
                                    });
                                    marker.setMap(map);

                                }
                            </script>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWhSw1_Sz1k9-qBri9ALfR65RvsQeUhcw&callback=initMap"
                                    async defer></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dis-content-row2-wrap">
            <div class="layout">
                <div class="dd-row-fluid">
                    <div class="span-6">
                        <div class="dis-content-row2">
                            <h3 class="dis-content-title">{{'AROUND THE DISTRICT'|_}}</h3>
                            <div class="dis-content-dec">
                                {{cp_detaildg.description_around_dg|raw}}
                            </div>
                        </div>
                    </div>
                    <div class="span-6">
                        <div class="dis-content-row2 dis-content-row2-quote">
                            {{cp_detaildg.quote_dg|raw}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery-img-content">
            <div class="gallery-slide desktop-only first-slide-gallery">
                <figure>
                    <img src="{{ cp_detaildg.photos[0].path }}" alt="">
                </figure>
            </div>
            <div class="layout-1">
                <div class="gallery-slider dots-whitebg">
                    {% for each_photo in cp_detaildg.photos %}
                    {% if loop.index == 1 %}
                    <div class="gallery-slide mobile-only">
                        <figure>
                            <img src="{{ each_photo.path }}" alt="">
                        </figure>
                    </div>
                    {% elseif loop.index > 1 %}
                    <div class="gallery-slide">
                        <figure>
                            <img src="{{ each_photo.path }}" alt="">
                        </figure>
                    </div>
                    {% endif%}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="layout-1">
            <div class="gallery-desc">
                {{cp_detaildg.description_dg|raw}}
            </div>
        </div>

        <div class="layout-1">
            <div class="dd-dtgd-buttons dd-row-fluid">
                {% for btn in cp_detaildg.buttons_custom %}
                <div class="span-6">
                    <a href="{{btn.button_url}}">{{btn.button_text}}</a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>