{% set cp_listpr = __SELF__.cp_listpr %}
{% set cp_listcapr = __SELF__.cp_listcapr %}
{% set cp_otherpr = __SELF__.cp_otherpr %}

<div class="categories">
    <ul>
        <li class="active">
            <a href="{{ 'project'|page }}">{{'Tất cả'|_}}</a>
        </li>

            {% for cp_capr in cp_listcapr %}
        <li>
            <a href="#"
               data-request="onFilterProject"
               data-request-data="cp_caprid: {{ cp_capr.id }}"
               data-request-success="$('.categories ul li').removeClass('active');$(this).parent().addClass('active');initOtherCasesSlider();"
               data-request-update="filterproject: '#filterproject'">{{ cp_capr.name_category_pj |_}}
            </a>
        </li>
            {% endfor %}

    </ul>
</div>
<div id="filterproject">
    {% partial 'filterproject' cp_listpr=cp_listpr cp_otherpr=cp_otherpr %}
</div>




