<form id="askAQuestionForm" data-request="onAskaquestion" data-request-success="onAskSuccess(data)" data-request-flash>
    <div class="ask-a-question-form">
        <input id="name_aaq" type="text" name="name" placeholder="{{ 'Họ và tên*' |_ }}">
        <input id="email_aaq" type="email" name="email" placeholder="{{ 'Địa chỉ email*' |_ }}">
        <input id="phone_aaq" type="text" name="phone" placeholder="{{ 'Số điện thoại*' |_ }}">
        <select name="type" id="help_aaq">
            <option value="">{{ 'Chúng tôi có thể giúp gì cho bạn với *'|_ }}</option>
            {% for questionType in questionTypes %}
                <option value="{{ questionType.id }}">{{ questionType.name |_ }}</option>
            {% endfor %}
        </select>
        <textarea id="message_aaq" name="message" placeholder="{{ 'Nội dung*' |_ }}" cols="40" rows="8"></textarea>
        <div class="submit-form">
            <input class="btn-custom transparentClass greyHover" type="submit" value="{{ 'Gửi' |_ }}">
        </div>
    </div>

</form>

<script>
    function onAskSuccess(data){
        console.log(data);
        $('input[type=text]').val('');
        $('input[type=email]').val('');
        $('select').val('');
        $('textarea').val('');
    }
</script>