<form id="contact-form" class="flexiContactForm" role="form"
    data-form-request="{{ __SELF__ }}::onMailSent"
>
    <div class="dd-form-row">
        <p id="contact-result"></p>
    </div>    

    <div class="dd-form-row">
        <input type="text" id="contact-name" name="contactName" placeholder="your name*">
    </div>
    <div class="dd-form-row">
        <input type="text" id="contact-email" name="contactEmail" placeholder="your email*">
    </div>
    <div class="dd-form-row">
        <input type="text" id="contact-number" name="contactNumber" placeholder="your number*">
    </div>
    <div class="dd-form-row">
        <textarea id="contact-message" name="contactMessage" cols="30" rows="5" placeholder="your message*"></textarea>
    </div>
    <div class="dd-form-btn">
        {% if __SELF__.enableCaptcha %}
            <div class="dd-form-row">
                <div class="g-recaptcha" data-sitekey="{{ __SELF__.siteKey }}"></div>
            </div>
        {% endif %}
        <input type="submit" name="submit" value="Send" class="dd-btn">
    </div>
</form>