<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('domdom/careers/applycareers') ?>">Applycareers</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">



            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('domdom/careers/applycareers') ?>" class="btn btn-default">Return to applycareers list</a></p>

<?php endif ?>
