<section class="dd-s-section">
    <div class="layout">
        <div class="title-page greyColor">
            <h2 class="title-h2"> <strong>{{'Gallery'|_}} </strong>  </h2>
            <p>No one knows our cities as well as we do. Browse our comprehensive
                district guides to learn about the most desirable or most up-and-coming places to live across the country.</p>
        </div>
    </div>
    <div class="dd-b-categories">
        <div class="layout">
            <div class="dd-b-select-wraper">
                <select id="gallery-select" name="project"
                        data-request="onFilterGallery"
                        data-request-update="filtergallery: '#filtergallery'">
                    <option value="0">{{'Tất cả'|_}}</option>
                    {% for project in ddAlbumProject%}
                    <option value="{{project.id}}">{{project.name_pj}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
    </div>

    <div id="filtergallery">
        {% partial "filtergallery" %}
    </div>


</section>