<form id="askAQuestionForm" data-request="onAskaquestion" data-request-flash>
    <div class="ask-a-question-form">
        <input type="text" id="name_aaq" name="name_aaq" placeholder="{{'Họ và tên *'|_}}">
        <input type="email" id="email_aaq" name="email_aaq" placeholder="{{'Địa chỉ email*'|_}}">
        <input type="text" id="phone_aaq" name="phone_aaq" placeholder="{{'Số điện thoại*'|_}}">
        <select id="help_aaq" name="help_aaq">
            <option value="0">{{'Chúng tôi có thể giúp gì cho bạn với *'|_}} </option>
            <option value="Question 1">{{'Question 1'|_}}Question 1</option>
            <option value="Question 2">{{'Question 2'|_}}</option>
        </select>
        <textarea id="message_aaq" name="message_aaq" placeholder="{{'What can we help you with*'|_}} " cols="40" rows="8"></textarea>
        <div class="submit-form">
            <input class="btn-custom transparentClass greyHover" type="submit" value="{{'submit'|_}}">
        </div>
    </div>
</form>
