
{% if auth %}
    {{ auth.firstname ~ ' ' ~ auth.lastname }}
    <br>
    <form action="" method="post" data-request="{{ __SELF__ }}::onLogout" data-request-success="location.reload(); ">
        <button class="underline">{{ 'Thoát'|_ }}</button>
    </form>
{% endif %}