

<!--login form-->

<div class="registration-popup-wrap">
    <div class="registration-popup remodal" data-remodal-id="login">
        <div class="registration-content">
            <div class="registration-logo">
                <img src="{{'assets/images/logo-lancaster.png'| theme}}" alt="logo lancaster">
            </div>
            <a data-remodal-action="close">
                <div class="minus-icon-popup-wrap">
                    <div class="minus-icon-popup"></div>
                </div>
            </a>

        </div>
        <h2>{{ 'Đăng nhập'|_ }}</h2>
        <div class="form-content">
            <form id="loginForm" method="post" data-request="{{ __SELF__ }}::onLogin" data-request-flash autocomplete="new-password">
                <div class="form-field-registration">
                    <input type="email" value="" id="signin-email" name="email" placeholder="{{ 'E-mail'|_ }}"  autocomplete="new-password">
                </div>
                <div class="form-field-registration">
                    <input type="password" value="" id="signin-passwd" name="passwd" placeholder="{{ 'Mật khẩu'|_ }}"  autocomplete="new-password">
                </div>

                <label class="control control--checkbox">{{ 'Ghi nhớ'|_ }}
                    <input type="checkbox" name="remember" autocomplete=off>
                    <div class="control__indicator"></div>
                </label>

                <button>{{ 'Đăng nhập'|_ }}</button>
                <a href="#" data-remodal-target="forgot-password" class="forgot-pass">{{ 'Quên email hoặc mật khẩu?'|_ }}</a>
            </form>
            <div class="other-info-form">
                <p>{{'Bạn chưa có tài khoản?'|_}} <a href="#" data-remodal-target="register">{{'Tạo tài khoản '|_}}</a></p>
                <p>{{'Bạn có thể sử dụng tài khoản để:'|_}}</p>
                <ul>
                    <li>
                        {{'Nhận thông tin khuyến mãi hoặc sự kiện'|_}}
                    </li>
                    <li>
                        {{'Quản lý căn hộ'|_}}
                    </li>
                    <li>
                        {{'Quản lý tương tác'|_}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--end login form-->

<!--register form-->

<div class="registration-popup-wrap">
    <div class="registration-popup remodal" data-remodal-id="register">
        <div class="registration-content">
            <div class="registration-logo">
                <img src="{{'assets/images/logo-lancaster.png'| theme}}" alt="logo lancaster">
            </div>
            <a data-remodal-action="close">
                <div class="minus-icon-popup-wrap">
                    <div class="minus-icon-popup"></div>
                </div>
            </a>
        </div>
        <h2>{{ 'Đăng ký tài khoản Lancaster'|_ }}</h2>
        <div class="form-content">
            <form id="registerForm" method="post" data-request="{{ __SELF__ }}::onSignup" data-request-flash autocomplete="new-password">
                <div class="form-field-registration">
                    <input type="text" value="" id="signup-firstname" name="firstname" placeholder="{{ 'Họ'|_ }}"  autocomplete="new-password">
                </div>
                <div class="form-field-registration">
                    <input type="text" value="" id="signup-lastname" name="lastname" placeholder="{{ 'Tên'|_ }}"  autocomplete="new-password">
                </div>
                <div class="form-field-registration">
                    <input type="email" value="" id="signup-email" name="email" placeholder="{{ 'Địa chỉ email'|_ }}"  autocomplete="new-password">
                </div>
                <div class="form-field-registration">
                    <input type="password" value="" id="signup-passwd" name="passwd" placeholder="{{ 'Mật khẩu'|_ }}"  autocomplete="new-password">
                </div>
                <div class="form-field-registration">
                    <input type="password" value="" id="signup-re-passwd" name="passwd_confirmation" placeholder="{{ 'Nhập lại mật khẩu'|_ }}"  autocomplete="new-password">
                </div>
                <div class="form-field-registration">
                    <input type="text" value="" id="signup-phone" name="phone" placeholder="{{ 'Số điện thoại'|_ }}" autocomplete="new-password">
                </div>
                <button>{{ 'Đăng ký'|_ }}</button>
            </form>
            <div class="other-info-form">
                <p>{{'Bạn đã có tài khoản Lancaster chưa?'|_}}  <a href="#" data-remodal-target="login">{{'Đăng ký tại đây'|_}}</a></p>
            </div>
        </div>

    </div>
</div>


<!--forgot password-->



<div class="registration-popup-wrap">
    <div class="registration-popup remodal forgot-password" data-remodal-id="forgot-password">
        <div class="registration-content">
            <div class="registration-logo">
                <img src="{{'assets/images/logo-lancaster.png'| theme}}" alt="logo lancaster">
            </div>
            <a data-remodal-action="close">
                <div class="minus-icon-popup-wrap">
                    <div class="minus-icon-popup"></div>
                </div>
            </a>
        </div>
        <h2>{{ 'Quên mật khẩu'|_ }}</h2>
        <p id="forgot-password-msg" class="hidden forgot-password-msg"></p>

        <div class="form-content">
            <form action="" method="post" data-request="{{ __SELF__ }}::onForgot" data-request-flash autocomplete="new-password">
                <div class="form-field-registration">
                    <input type="email" value="" id="forgot-email" name="email" placeholder="{{ 'Email'|_ }}" required autocomplete="new-password">
                </div>

                <button>{{ 'Tạo lại mật khẩu'|_ }}</button>
            </form>
        </div>

    </div>
</div>




