<div class="reset-pw-wrap">
    <div class="reset-pw">
        <div class="registration-content">

        </div>
        <h2>{{ 'Update your new password'|_ }}</h2>

        <div class="form-content">
            {% if token_expired %}

            <div class="token_expired">
                <p>{{ 'Your token has been expired.'|_ }}</p>
                <p>{{ 'Please use forgot password function again.'|_ }}</p>
            </div>
            <a href="{{ ''|app }}/#forgot-password" class="btn-custom"><span>{{ 'Forgot password' }}</span></a>

            {% else %}
            <form action="" method="post" data-request="members::onReset" data-request-redirect="{{ ''|app }}/#login">
                <input type="hidden" name="token" value="{{ get('token') }}" />
                <input type="hidden" name="email" value="{{ get('email') }}" />
                <div class="form-field-registration">
                    <input type="password" value="" id="new-passwd" name="passwd" placeholder="{{ 'Password(min length is 6 characters)'|_ }}" required>
                </div>
                <div class="form-field-registration">
                    <input type="password" value="" id="new-re-passwd" name="passwd_confirmation" placeholder="{{ 'Confirm Password'|_ }}" required>
                </div>

                <button class="btn-custom greyHover">{{ 'Reset password'|_ }}</button>
            </form>
            {% endif %}
        </div>


    </div>
</div>
