{% set cp_listca = __SELF__.cp_listca %}
{% set cp_listcaca = __SELF__.cp_listcaca %}
{% set cp_sessionmg = __SELF__.cp_sessionmg %}

<!--banner-->
<div class="banner layout">
    {% if cp_sessionmg != -1 %}
        {% if cp_sessionmg == 1 %}
            <div class="alert alert-success">
                {{ messSucc|_ }}
            </div>
        {% else %}
            <div class="alert alert-danger">
                {{ messFail|_ }}
            </div>
        {% endif %}
    {% endif %}
    <div class="banner-slider banner-single">
        <div class="banner-slider-item">
            {% component "bannerpage" %}
            <h1 class="title-banner"><strong>{{ 'Tuyển dụng'|_ }} </strong></h1>
        </div>
    </div>
</div>
<div class="layout botom-banner">
    <div class="center-bot-nav">
        <span>{{'Scroll'|_}}</span>
    </div>
</div>
<!--banner-->
<div class="working-wrap">
    <div class="layout-1">
        <div class="working">
            <h2 class="title-h2">{{'WORKING WITH'|_}} <strong>{{'Lancaster'|_}}</strong> </h2>
            <div class="working-dec">
                {% component "detailcb" %}
            </div>
            <div class="send-request-btn">
                <a href="#" class="js-vacanies">
                    <span>{{'CHECK ALL VACANCIES'|_}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="working-main-content">
    <div class="layout-1">
        <div class="working-main-top dd-row-fluid">
            <div class="span-6 working-main-top-col1">
                <h2 class="unsolicited-application">{{'Unsolicited Application'|_}}</h2>
                {% component "detailcb2" %}
            </div>
            <div class="span-6 working-main-top-col2">
                <a class="linked-logo" href="#" target="_blank">
                    <img src="{{'assets/images/linked-logo.png'|theme }}" alt="linked lancaster">
                </a>
                <p>{{'Stay informed about our vacancies through the Lancsater LinkedIn page.'|_}}</p>
            </div>
        </div>

    </div>
    <div class="career-filter">
        <div class="layout-1">
            <div class="nav-custom-active mobile-only">{{ 'Tất cả' |_}}</div>
            <ul class="nav-custom nav-tabs-custom">
                <li class="active">
                    <a href="#"
                       data-request="onFilterCareer"
                       data-request-data="cp_cacaid: 0"
                       data-request-update="filtercareer: '#filtercareer'">
                        <span>{{'Tất cả'|_}}</span>
                    </a>
                </li>
                {% for cp_caca in cp_listcaca %}
                <li>
                    <a href="#"
                       data-request="onFilterCareer"
                       data-request-data="cp_cacaid: {{ cp_caca.id }}"
                       data-request-success="transferdataworkapply();"
                       data-request-update="filtercareer: '#filtercareer'"> <span>{{ cp_caca.name_category_career }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-content-custom">
            <div class="layout-1">
                <div id="filtercareer">
                    {% partial "filtercareer" cp_listca=cp_listca %}
                    {{ cp_listca.render|raw}}
                </div>
            </div>

        </div>
    </div>
</div>


<div class="registration-popup-wrap">
    <div class="apply-form registration-popup remodal" data-remodal-id="apply">
        <div class="apply-form-content">
            <div class="form-content-wrap">
                <div class="form-content">
                    <div class="close-apply-form">
                        <a href="#" data-remodal-action="close"><span>{{'Close'|_}}</span></a>
                    </div>
                    <h2>{{ 'Prepare for Launch!'|_ }}</h2>

                    <!-- <form id="applyForm"> -->
                        {{ form_open({ id: 'applyForm', request: 'onPrepareForLaunch', files: true }) }}
                        <div class="form-field-registration">
                            <input type="text" id="name_pfl" name="name_pfl" placeholder="{{'Họ vs tên'|_}}">
                        </div>
                        <div class="form-field-registration">
                            <input type="email" id="email_pfl" name="email_pfl" placeholder="{{'Địa chỉ email'|_}}">
                        </div>
                        <div class="form-field-registration">
                            <!-- <input type="file" id="file_pfl" name="file_pfl"> -->
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">{{'Attach your CV...'|_}}</div>
                                    <div class="file-select-name" id="noFile"></div>
                                    <input type="file" id="file_pfl" name="file_pfl">
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="name_work_pfl" name="work_pfl" value="">

                        <textarea id="message_pfl" name="message_pfl" rows="7" placeholder="{{'Details and specific examples will make your applications stronger...'|_}}"></textarea>
                        <button class="btn-custom">{{'Gửi'|_}}</button>
                        {{ form_close() }}
                    <!-- </form> -->

                </div>
            </div>

        </div>


    </div>
</div>

