{% set cp_sliderpage = __SELF__.cp_sliderpage %}

{% if cp_sliderpage and cp_sliderpage|length >0 %}



<div class="customer-thinks-mobile dots-whitebg mobile-only">
    {% for cp_slider in cp_sliderpage %}
        <div class="customer-thinks-item">
            <img src="{{ cp_slider.banner_image.path }}" alt="customer thinks">
            <div class="customer-thinks-content">
                <div class="dd-b-wrapper-center">
                    <div class="think-dec">{{ cp_slider.description_banner|raw }}</div>
                    <p class="com-name">{{ cp_slider.title_banner }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<div class="desktop-only">
    <div class="customer-thinks-top">
        <div class="layout">
            {% for cp_slider in cp_sliderpage %}
            {% if loop.index <= 2 %}
            <div class="customer-thinks-item-col">
                <div class="customer-thinks-item dd-text">
                    <div class="think-dec">{{ cp_slider.description_banner|raw }}</div>
                    <p class="com-name">{{ cp_slider.title_banner }}</p>
                </div>
                <div class="customer-thinks-item">
                    <img src="{{ cp_slider.banner_image.path }}" alt="customer thinks">
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="customer-thinks-bottom">
        <div class="layout">
            {% for cp_slider in cp_sliderpage %}
            {% if loop.index <= 4 and loop.index >2 %}
            <div class="customer-thinks-item-col">
                <div class="customer-thinks-item">
                    <img src="{{ cp_slider.banner_image.path }}" alt="customer thinks">
                </div>
                <div class="customer-thinks-item dd-text">
                    <div class="think-dec">{{ cp_slider.description_banner|raw }}</div>
                    <p class="com-name">{{ cp_slider.title_banner }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    {% endif %}

</div>
