{% set cp_sliderpage = __SELF__.cp_sliderpage %}

<div class="banner-slider">
    {% if cp_sliderpage and cp_sliderpage|length >0 %}
            {% for cp_slider in cp_sliderpage %}
            <div class="banner-slider-item">
                <img src="{{ cp_slider.banner_image.path }}" alt="banner lancaster">
                <h1 class="title-banner">{{ cp_slider.title_banner|raw }}</h1>
            </div>
            {% endfor %}
    {% else %}
        <div class="banner-slider-item">
            <img src="{{'assets/images/banner-slider-lancaster.jpg'|theme }}" alt="banner lancaster">
            <h1 class="title-banner"><strong>De</strong>fault</h1>
        </div>
    {% endif %}
</div>
