{% set cp_sliderpage = __SELF__.cp_sliderpage %}

{% if cp_sliderpage and cp_sliderpage|length >0 %}
{% for cp_slider in cp_sliderpage %}
    <div class="customer-slide">
        <a href="{{ cp_slider.link_banner }}" target="_blank">
            <img src="{{ cp_slider.banner_image.path }}" alt="customer logo">
        </a>
    </div>
{% endfor %}
{% endif %}
