{% set cp_sliderpage = __SELF__.cp_sliderpage %}

{% if cp_sliderpage and cp_sliderpage|length >0 %}
    {% for cp_slider in cp_sliderpage %}
        <div class="layout">
            <div class="title-page">
                <h2 class="title-h2">{{ cp_slider.title_banner }}</h2>
                <div class="our-story-des">{{ cp_slider.description_banner|raw }}</div>
                <div class="our-story-des-2 desktop-only">{{ cp_slider.quote_banner|raw }}</div>

            </div>
            <div class="img-slider">
                <img src="{{ cp_slider.banner_image.path }}" alt="banner lancaster">
            </div>
            <div class="our-story-des-2 mobile-only">{{ cp_slider.quote_banner|raw }}</div>

        </div>
    {% endfor %}
{% endif %}
