{% set cp_listev = __SELF__.cp_listev %}
{% set cp_listevupcomming = __SELF__.cp_listevupcomming %}

<div class="event-content-page">
    <div class="layout">
        <div class="banner-slider">
            {% for cp_ev in cp_listev %}
            {% if cp_ev.highlight %}
            <div class="banner-slider-item">
                <a href="{{ 'event-detail'|page({'slug':cp_ev.slug_event}) }}">
                    <img src="{{ cp_ev.featured_image_event.path }}" alt="banner lancaster">
                    <h1 class="title-banner">
                        <!--<img class="logoWhile" src="{{'assets/images/logo-img-white.png' | theme}}" alt="lancaster logo image">-->
                        <!--<strong>{{'Openning'|_}} </strong>{{'sale'|_}}-->
                    </h1>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="botom-banner">
        <div class="center-bot-nav">
            <span>{{ 'Scroll'|_ }}</span>

        </div>
    </div>

    <div class="upcomming">
        <div class="layout">
            <div class="event-title">
                <h2><strong>{{'Upcoming'|_}}</strong> {{'EVENT'|_}}</h2>
                {% component "detailcb" %}
            </div>
        </div>
        <div class="upcomming-post-wrap">
            <div class="layout">
                <div class="upcomming-post-slider">
                    {% set count_upcomming_event = 0 %}
                    {% for cp_evuc in cp_listevupcomming %}
                    {% if cp_evuc.is_opened == 0 and count_upcomming_event < 8 %}
                    <a href="{{ 'event-detail'|page({'slug':cp_evuc.slug_event}) }}">
                        <div class="upcomming-post-slide">
                            <img src="{{ cp_evuc.featured_image_event.path }}" alt="">
                            <div class="upcomming-post">
                                <h3 class="month-upcomming">{{ cp_evuc.start_time|date("M") }}</h3>
                                <h4 class="date-upcomming">{{ cp_evuc.start_time|date("d") }}</h4>
                            </div>
                        </div>
                    </a>
                    {% set count_upcomming_event = + count_upcomming_event +1 %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="event-gallery-wrap">
        <div class="layout">
            <div class="event-title greyColor">
                <h2><strong>{{'Event'|_}}</strong> {{'GALLERY'|_}}</h2>
                {% component "detailcb2" %}
            </div>
        </div>
        <div class="layout layout-mobile-only">
            <div class="find-your-home-detail-slider dots-whitebg">
                {% for cp_ev in cp_listev %}
                {% if cp_ev.is_opened %}
                <a href="{{ 'event-detail'|page({'slug':cp_ev.slug_event}) }}">
                    <div class="slide-item">
                        <img src="{{ cp_ev.featured_image_event.path }}" alt="">
                        <div class="dd-b-info">
                            <img src="{{'assets/images/logo-img-white.png' | theme}}" alt="lancaster logo image">
                            <h1 class="title-banner"><strong>{{'Openning'|_}} </strong>{{'sale'|_}}</h1>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if auth %}

    <div class="layout hidden">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div class="subscribe-event-wrap">
            <h2 class="title-subscribe">{{'Be the first to know any upcoming
                events & promotions'|_}}</h2>


            <div id="mc_embed_signup" class="mailchimp-event">
                <form action="//facebook.us16.list-manage.com/subscribe/post?u=a19025a6f5580e3e7963c3da5&amp;id=21c0ea1cad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">

                        <div class="mc-field-group">
                            <label for="mce-EMAIL" class="post-title-row"> <h4>{{ 'Stay update'|_ }}</h4> </label>
                            <input  type="email" value="{{auth.email}}" name="EMAIL" class="required email hidden" id="mce-EMAIL" placeholder="{{ 'Your email'|_ }}">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a19025a6f5580e3e7963c3da5_21c0ea1cad" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="{{ 'SUBSCRIBE'|_ }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
        </div>

        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
        {% else %}
        <div class="layout hidden">
            <div class="subscribe-event-wrap">
                <h2 class="title-subscribe">{{'Be the first to know any upcoming
                    events & promotions'|_}}</h2>

                <div class="send-request-btn">
                    <a href="#login"><span>{{'Subscribe'|_}}</span></a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="clearfix"></div>
</div>
