.field-mediafinder {
  overflow: hidden;
}
.field-mediafinder .find-object {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  outline: none;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
.field-mediafinder .find-object .icon-container {
  display: table;
}
.field-mediafinder .find-object .icon-container i {
  color: #95a5a6;
  display: inline-block;
}
.field-mediafinder .find-object h4 {
  font-weight: 600;
  font-size: 13px;
  color: #2b3e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 150%;
  margin: 15px 0 5px 0;
  padding-right: 0;
  -webkit-transition: padding 0.1s;
  transition: padding 0.1s;
  position: relative;
}
.field-mediafinder .find-object h4 a {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  font-weight: 400;
}
.field-mediafinder .find-object .info h4 a,
.field-mediafinder .find-object .meta a.find-remove-button {
  color: #2b3e50;
  display: none;
  font-size: 15px;
  text-decoration: none;
}
.field-mediafinder.is-populated .find-object:hover h4 a,
.field-mediafinder.is-populated .find-object:hover .meta .find-remove-button {
  display: block;
}
.field-mediafinder.is-preview .find-button,
.field-mediafinder.is-preview .find-remove-button {
  display: none !important;
}
@media (max-width: 1024px) {
  .field-fileupload.is-populated .find-object h4 a,
  .field-fileupload.is-populated .find-object .meta .find-remove-button {
    display: block !important;
  }
}
.field-mediafinder.style-image-single .find-button {
  display: block;
  float: left;
  border: 2px dotted rgba(0, 0, 0, 0.1);
  position: relative;
  outline: none;
  min-height: 100px;
  min-width: 100px;
}
.field-mediafinder.style-image-single .find-button .find-button-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11px;
}
.field-mediafinder.style-image-single .find-button .find-button-icon:before {
  text-align: center;
  display: block;
  font-size: 22px;
  height: 22px;
  width: 22px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.1);
}
.field-mediafinder.style-image-single .find-button:hover {
  border: 2px dotted rgba(0, 0, 0, 0.2);
}
.field-mediafinder.style-image-single .find-button:hover .find-button-icon:before {
  color: #31ac5f;
  color: rgba(0, 0, 0, 0.2);
}
.field-mediafinder.style-image-single .find-button:focus {
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: transparent;
}
.field-mediafinder.style-image-single .find-button:focus .find-button-icon:before {
  color: #31ac5f;
  color: rgba(0, 0, 0, 0.2);
}
.field-mediafinder.style-image-single .find-object {
  display: none;
  padding-bottom: 39px;
}
.field-mediafinder.style-image-single .find-object .icon-container {
  display: block;
  border: 1px solid #f6f8f9;
  background: transparent;
}
.field-mediafinder.style-image-single .find-object .icon-container img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  max-width: 100%;
  height: auto;
  max-width: 200px;
}
.field-mediafinder.style-image-single .find-object .info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 39px;
}
.field-mediafinder.style-image-single .find-object:hover h4 {
  padding-right: 20px;
}
.field-mediafinder.style-image-single.is-populated .find-button {
  display: none;
}
.field-mediafinder.style-image-single.is-populated .find-object {
  display: block;
}
.field-mediafinder.style-file-single {
  background-color: #ffffff;
  border: 1px solid #bdc3c7;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #bdc3c7, 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #bdc3c7, 0 1px 0 #fff;
}
.field-mediafinder.style-file-single .find-button {
  position: absolute;
  top: 50%;
  margin-top: -44px;
  height: 88px;
  background: transparent;
  right: -2px;
  color: #595959;
}
.field-mediafinder.style-file-single .find-button i {
  font-size: 14px;
}
.field-mediafinder.style-file-single .find-button:hover {
  color: #333333;
}
.field-mediafinder.style-file-single .find-empty-message {
  padding: 8px 0 8px 11px;
  font-size: 14px;
}
.field-mediafinder.style-file-single .find-object {
  display: none;
  width: 100%;
  padding: 7px 0 9px 0;
}
.field-mediafinder.style-file-single .find-object .icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  padding: 0 5px;
  margin: 8px 0 0 7px;
  text-align: center;
}
.field-mediafinder.style-file-single .find-object .icon-container i {
  line-height: 150%;
  font-size: 15px;
}
.field-mediafinder.style-file-single .find-object .info {
  margin-left: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.field-mediafinder.style-file-single .find-object .info h4 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 150%;
  color: #666666;
}
.field-mediafinder.style-file-single .find-object .meta {
  position: absolute;
  top: 50%;
  margin-top: -44px;
  height: 88px;
  right: 0;
}
.field-mediafinder.style-file-single .find-object .meta .find-remove-button {
  position: absolute;
  top: 50%;
  right: 0;
  height: 20px;
  margin-top: -11px;
  margin-right: 10px;
}
.field-mediafinder.style-file-single.is-populated .find-empty-message {
  display: none;
}
.field-mediafinder.style-file-single.is-populated .find-object {
  display: block;
}
