{% set cp_detailho = __SELF__.cp_detailho %}
{% set cp_checksh = __SELF__.cp_checksh %}


<div class="find-your-home-detail-home-wrap">
    <div class="layout">
        <div class="find-your-home-detail-top dd-row-fluid">
            <div class="top-left span-8">
                <div class="find-yourhome-detail-top-left">
                    <div class="dd-b-title-and-location-wrapper">
                        <div class="dd-b-title-wrap">
                            <div class="title-apartment">{{cp_detailho.name_home}}</div>
                            <div class="more-info-apartment">{{ 'Lancaster Lincoln'|_ }}</div>
                        </div>
                        <div class="location-wrapper">
                            <a href="#"><img src="{{ 'assets/images/location-icon.svg' |theme }}" alt="location home"></a>
                            <span class="desktop-only">{{ 'SHOW LOCATION' |_}}</span>
                        </div>
                    </div>

                    <ul class="more-info">
                        <li>
                            {{cp_detailho.lot_size_home}}m2
                        </li>
                        <li>
                            {{cp_detailho.bedrooms_home}} {{'Bedrooms'|_}}
                        </li>
                        <li>
                            {{cp_detailho.baths_home}} {{'Bathrooms'|_}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top-right span-4 pull-right">
                <div class="find-yourhome-detail-top-right dd-row-fluid">
                    <a href="#" class="btn-custom greyHover btn-ask span-6">{{'Ask a question'|_}}</a>

                    <div class="span-6 dd-b-btns">
                        <div class="width-50">
                            {% if cp_checksh > 0 %}
                            <a href="#" class="active save-btn" data-request="onSaveHome" data-request-flash data-request-data="cp_detailhoid: {{cp_detailho.id}},cp_unsaveho:1" data-request-success="delayreload();">{{'SAVED'|_}}</a>
                            {% elseif cp_checksh == -1 %}
                            <a href="#login" class="save-btn ">
                                <span>{{'SAVE'|_}}</span>
                            </a>
                            {% else %}
                            <a href="#" class="save-btn" data-request="onSaveHome" data-request-flash data-request-data="cp_detailhoid: {{cp_detailho.id}},cp_unsaveho:0" data-request-success="delayreload();">{{'SAVE'|_}}</a>
                            {% endif %}
                        </div>
                        <div class="width-50 float-right">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{sharewebsiteurl}}" class="share-btn" target="_blank">
                                <span>{{'SHARE'|_}}</span>
                            </a>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="find-your-home-detail-slider dots-whitebg">
        {% for each_gallery_home in cp_detailho.gallery_home %}
        <div class="slide-item">
            <figure>
                <img src="{{each_gallery_home.path}}" alt="">
            </figure>
        </div>
        {% endfor %}
    </div>
    <div class="main-content">
        <div class="layout">
            <div class="info-home-wrap">
                <h3 class="dis-content-title">{{'PROPERTY DETAILS'|_}}</h3>
                <div class="dd-row-fluid">
                    <table class="span-4">
                        <tr>
                            <th>{{'Property Type'|_}}</th>
                            <td>{{cp_detailho.property_type_home}}</td>
                        </tr>
                        <tr>
                            <th>{{'Building Type'|_}}</th>
                            <td> {{cp_detailho.building_type_home}}</td>
                        </tr>
                        <tr>
                            <th>{{'Baths'|_}}</th>
                            <td> {{cp_detailho.baths_home}}</td>
                        </tr>
                        <tr>
                            <th>{{'Bedrooms'|_}}</th>
                            <td> {{cp_detailho.bedrooms_home}}</td>
                        </tr>
                        <tr>
                            <th>{{'Minimum Down Payment'|_}}</th>
                            <td>{{cp_detailho.minimum_down_payment_home}}%</td>
                        </tr>
                    </table>
                    <table class="span-4">
                        <tr>
                            <th>{{'Lot Size'|_}}</th>
                            <td>{{cp_detailho.lot_size_home}}m2</td>
                        </tr>
                        <tr>
                            <th>{{'Floor Area'|_}}</th>
                            <td>{{cp_detailho.floor_area_home}}m2</td>
                        </tr>
                        <tr>
                            <th>{{'Units in Building'|_}}</th>
                            <td> {{cp_detailho.units_in_building_home}}</td>
                        </tr>
                        <tr>
                            <th>{{'District'|_}}</th>
                            <td> {{cp_detailho.district_home}}</td>
                        </tr>
                        <tr>
                            <th>{{'Building Age'|_}}</th>
                            <td> {{cp_detailho.building_age_home}}</td>
                        </tr>
                    </table>
                    <div class="span-4">
                        <div class="home-img">
                            <img src="{{cp_detailho.construction_home.path}}" alt="">
                            <a href="{{cp_detailho.construction_home.path}}" class="img-zoom">
                                <img src="{{'assets/images/extent-option-arrows.svg' |theme}}" alt="">
                            </a>
                            <a href="{{ cp_detailho.file_home.path }}" class="pdf-file" target="_blank">
                                <img src="{{'assets/images/pdf-file-format-symbol.svg' |theme}}" alt="">
                            </a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="listing-description-wrap main-content-row">
                <h3 class="dis-content-title">{{'PROPERTY DETAILS'|_}}</h3>
                <div class="listing-des">
                    {{cp_detailho.description_home|raw}}
                </div>
            </div>
            <div class="amenities">
                <h3 class="dis-content-title">{{'Amenities'|_}}</h3>
                <div class="dd-row-fluid">
                    {% for each_amenity in cp_detailho.amenities %}
                    <div class="span-3">
                        <div class="amenities-field">
                            {{each_amenity.amenity_home}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if cp_detailho.listing_price_home >= 1000000000 %}
                {% set price_number_format = cp_detailho.listing_price_home|number_format %}
                <div id="result_price_home" data-valpricehome="{{ price_number_format }}"></div>
            {% endif %}
            <div class="mortgage-calc-wrap main-content-row">
                <h3 class="dis-content-title">{{'MORTGAGE CALCULATOR'|_}}</h3>
                <div class="mortgage-calc dd-row-fluid">
                    <div class="listing-rice-col span-4">
                        <span class="price-text">{{'Listing Price'|_}} </span>
                        {% if cp_detailho.listing_price_home >= 1000000000 %}
                        <span class="price"><span class="numberjs"></span> {{'BIL'|_}}</span>
                        {% else %}
                        <span class="price"> {{cp_detailho.listing_price_home|number_format}} {{'đ'|_}}</span>
                        {% endif %}
                    </div>
                    <div class="listing-rice-col span-4">
                        <div class="dd-row-fluid listing-rice-row">
                            <div class="span-6">
                                {{'Downpayment'|_}}
                            </div>
                            <div class="span-6 pull-right">
                                {{cp_detailho.downpayment_home|number_format}}
                            </div>
                        </div>
                        <div class="dd-row-fluid listing-rice-row">
                            <div class="span-6">
                                {{'Interest Rate'|_}}
                            </div>
                            <div class="span-6">
                                {{cp_detailho.interest_rate_home}}%
                            </div>
                        </div>
                        <div class="dd-row-fluid listing-rice-row">
                            <div class="span-6">
                                {{'Term'|_}}
                            </div>
                            <div class="span-6">
                                {{cp_detailho.term_home}} {{'years'|_}}
                            </div>
                        </div>
                        <div class="dd-row-fluid listing-rice-row">
                            <div class="span-6">
                                {{'Est. Monthly Payment'|_}}
                            </div>
                            <div class="span-6">
                                {{cp_detailho.est_monthly_payment_home|number_format}}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mortgage-calc-decs">
                    {{cp_detailho.note_home|raw}}
                </div>

            </div>

            <div class="ask-a-question">
                <h3 class="dis-content-title">Ask a Question. Schedule a Showing. Inquire...</h3>
                {% component "askaquestion" %}
            </div>


        </div>
    </div>


</div>

<script src="{{'assets/js/jquery-3.2.1.min.js'|theme }}"></script>
