

<div class="howtoinvest-wrap">
    <div class="howtoinvest-main-content">
        <div class="layout">
            <div class="title-page greyColor">
                <h2 class="title-h2"><strong>{{'How to'|_}} </strong> invest </h2>
                <p>NO ONE KNOWS OUR CITIES AS WELL AS WE DO. BROWSE OUR COMPREHENSIVE DISTRICT GUIDES TO LEARN ABOUT THE MOST DESIRABLE OR MOST UP-AND-COMING PLACES TO LIVE ACROSS THE COUNTRY.</p>
            </div>
        </div>

        <div class="filter-region">
            <span class="filter-search-wrap">
                <div class="layout">
                    <div class="filter-search">
                        <select name="category"
                                data-request="onFilterInvest"
                                data-request-update="filterhowtoinvest: '#filterhowtoinvest'"
                                data-request-success="setMaxheight()">
                            <option value="0" class="mobile-only">{{ 'Chọn khu vực' |_}} </option>
                            <option value="0">{{'Tất cả'|_}}</option>
                            {% for category in ddCategories %}
                            <option value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </span>

        </div>


        <div class="howtoinvest-content">
            <div class="layout">
                <div id="filterhowtoinvest">
                    {% partial "filterhowtoinvest" ddInvest=ddInvest %}
                </div>
            </div>
        </div>

    </div>

</div>
