{% set cp_detailpr = __SELF__.cp_detailpr %}
<div class="project-detail-page">
    <div class="layout-1">
        <div class="dd-b-topPage-title">
            <div class="dd-row-fluid">
                <div class="dd-b-title span-6">
                    <h3><strong>{{ cp_detailpr.name_pj }}</strong></h3>
                    {{ cp_detailpr.short_description_pj|raw }}
                </div>
                <div class="btn-top span-6 pull-right">
                    <div class="dd-row-fluid">
                        <a href="#" class="btn-custom btn-ask span-6 greyHover">{{'Đặt câu hỏi'|_}}</a>
                        <a href="{{cp_detailpr.link_pj}}" target=_blank class="btn-custom span-6 greyHover">{{'Đến  trang dự án '|_}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dd-b-imageFeature layout">
        <img src="{{cp_detailpr.featured_image_pj_1.path}}" alt="">
    </div>
    <div class="dd-b-midContent">
        <div class="layout-1">
            <div class="dd-row-fluid">
                <div class="span-6">
                    <div class="dis-content-col">
                        <h3 class="dis-content-title">{{'Thiết kế a'|_}}</h3>
                        <div class="dis-content-dec">
                           {{ cp_detailpr.description_pj|raw |_}}
                        </div>
                    </div>
                    {% for each_feature_pj in cp_detailpr.feature_pj %}
                    <div class="dis-content-info">
                        <div class="title-more-info">{{each_feature_pj.title_feature_pj |_}}</div>
                        {{each_feature_pj.name_feature_pj |raw |_}}
                    </div>
                    {% endfor %}
                </div>
                <div class="span-6">
                    <div class="dis-content-col">
                       <div class="the-design-img">
                           {% if cp_detailpr.featured_image_design_pj %}
                           <img src="{{cp_detailpr.featured_image_design_pj.path}}" alt="lancaster proect detail">
                           {% endif %}
                       </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="gallery-img">
        <h3 class="dis-content-title layout-1 ">{{'Thư viện ảnh '|_}}</h3>
        <div class="gallery-img-content">
            <div class="gallery-slide desktop-only first-slide-gallery">
                <figure>
                    <img src="{{ cp_detailpr.gallery[0].path }}" alt="">
                </figure>
            </div>
            <div class="layout-1">
                <div class="gallery-slider dots-whitebg">
                    {% for each_photo_pj in cp_detailpr.gallery %}
                    {% if loop.index == 1 %}
                    <div class="gallery-slide mobile-only">
                        <figure>
                            <img src="{{ each_photo_pj.path }}" alt="">
                        </figure>
                    </div>
                    {% elseif loop.index > 1 %}
                    <div class="gallery-slide">
                        <figure>
                            <img src="{{ each_photo_pj.path }}" alt="">
                        </figure>
                    </div>
                    {% endif%}
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="ask-a-question">
            <div class="layout-1">
                <h3 class="dis-content-title">{{'Ask a Question. Schedule a Showing. Inquire...'|_}}</h3>
                {% component "askaquestion" %}
            </div>
        </div>

    </div>
</div>