<div class="form-group-inside">
    <input class="form-control money-currency" disabled="disabled" value="VND" />

    <input class="form-control money-format"
           autocomplete="off"
           type="text"
           id="<?= $field->getId() ?>"
           name="<?= $field->getName() ?>"
           value="<?= number_format( $field->value ) ?>" />

</div>
