

<div class="howtoinvest-detail-content">
    <div class="dictrict-guides-detail-top-bg">
        <div class="layout">
            <div class="title-page greyColor">
                <h2 class="title-h2"> <strong>{{ddInvestDetail.title}} </strong></h2>
            </div>
        </div>
    </div>
    <div class="dis-content">
        <div class="layout">
            {{ddInvestDetail.description | raw}}
        </div>

    </div>

</div>