{% set cp_homepj = __SELF__.cp_homepj %}
{% set cp_homeho = __SELF__.cp_homeho %}
{% set cp_listsh = __SELF__.cp_listsh %}

<div class="pade-content-wrap">
    <!--banner-->
    <div class="banner layout">
        {% component "sliderpage" %}
    </div>
    <!--end banner-->
</div>

<div class="text-bot-banner">
    <p>{{ 'Life Well Lived'|_ }}</p>
</div>

<div class="layout botom-banner">
    <div class="dd-col left-bot-nav">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{''|app}}" target="_blank">
            <span>{{ 'Chia sẻ'|_ }}</span>
        </a>
    </div>
    <div class="dd-col center-bot-nav">
        <span>{{ 'Scroll'|_ }}</span>
    </div>
    <div class="dd-col right-bot-nav">
        <div class="lang">
            <div class="current-lang">
                {% if activeLocale == 'en' %}
                    Eng
                {% else %}
                    Vn
                {% endif %}
            </div>
            <ul>
                <li class="lang-vi">
                    <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vn'">VN</a>
                </li>
                <li class="lang-en lang-active">
                    <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">Eng</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="home-main-content">
    <div class="project">
        <div class="layout">
            <div class="title-page">
                <h2 class="title-h2"><strong>{{ 'Dự án'|_ }}</strong> {{ 'nổi bật'|_ }} </h2>
                <p>{{ 'Cải thiện và nâng cao các tiêu chuẩn sống, mở rộng tầm nhìn về thiết kế, phong cách và sự tinh tế và truyền cảm hứng cho mọi người để có cuộc sống tốt hơn.'|_ }}</p>
            </div>
            <!--banner-->
            <div class="banner">
                <div>
                    <div class="feature-slider slider">
                        {% for cp_eachhomepj in cp_homepj %}
                        <div class="banner-slider-item">
                            <img src="{{ cp_eachhomepj.featured_image_pj.path }}" alt="banner lancaster">
                            <div class="item-figure-content">
                                <h2 class="title-h2">{{ cp_eachhomepj.name_pj }}</h2>
                                <p>{{ cp_eachhomepj.quote_pj }}</p>
                                <a href="{{ 'project-detail'|page({'slug':cp_eachhomepj.slug_pj}) }}">
                                    <span>{{ 'Xem chi tiết'|_ }}</span>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--end banner-->
    </div>
    <div class="layout about">
        <div class="title-page">
            <h2 class="title-h2"><strong>{{ 'Giới thiệu'|_ }} </strong> {{ 'LANCASTER'|_ }} </h2>
            <p>{{ 'Lancaster là một không gian sống được sáng tạo với thiết kế đột phá, phong cách trang nhã và mang dấu ấn chủ nhân. Sống trọn vẹn niềm vui với một di sản vượt thời gian.'|_ }}</p>
        </div>
        <div class="about-content" >
            <div class="circle-img">
                <figure>
                    <img src="{{'assets/images/metlon_bkg_bar_couple.png'|theme }}" alt="about lancaster">
                </figure>
                <div class="about-decription">
                    {% component "detailcb" %}
                </div>
                <div class="send-request-btn learn-more-btn">
                    <a href="{{ 'about'|page }}">
                        <span>{{ 'Xem thêm'|_ }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--dictrict guides-->
<div class="distrist-guides-wrap">
    <div class="distrist-guides-content layout">
        <div class="title-page greyColor">
            <h2 class="title-h2"><strong>{{ 'District'|_ }} </strong> {{ 'Guides'|_ }} </h2>
            <p>{{ 'Không ai hiểu rõ thành phố này hơn chúng tôi. Hãy cùng khám phá District Guides với một góc nhìn hoàn toàn khác biệt.'|_ }}</p>
        </div>
        <div class="dd-b-district mobile-only">
            <img src="{{'assets/images/bitexco-3.jpg'|theme}}" alt="">
            <p>{{'Quận 1, TP. HCM'|_}}</p>
        </div>
        <div class="send-request-btn">
            <a href="{{ 'district-guides'|page }}">
                <span>{{ 'Khám phá'|_ }}</span>
            </a>
        </div>
    </div>
    <div id="district-guides"></div>
    <div class="district-info">
        <p class="small-title">{{'Dự án'|_}}</p>
        <h3 class="project-name"><a href="#">{{'Căn Hộ Lancaster Eden'|_}}</a></h3>
    </div>
</div>

<!--end dictrict guides-->
<!--find your home-->
<div class="find-your-home-wrap hidden">
    <div class="find-your-home layout">
        <div class="title-page greyColor">
            <h2 class="title-h2"><strong>{{ 'find your'|_ }} </strong> {{'home'|_}}</h2>
            <p>{{ 'From boutique rental conversions to luxurious ground-up condominiums, browse our portfolio of current offerings.'|_ }}</p>
        </div>

        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#buy">
                    <span>{{ 'Mua'|_ }}</span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#rent">
                    <span>{{ 'Thuê'|_ }}</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="buy" class="tab-pane active">
                <div class="buy-rent-slider dots-whitebg">
                    {% for cp_eachhomeho in cp_homeho %}
                        {% if cp_eachhomeho.type_home == '1'%}
                            <div class="slide">
                                <a href="{{ 'find-your-home-detail'|page({'slug':cp_eachhomeho.slug_home}) }}">
                                    <div class="thumb">
                                        <img src="{{ cp_eachhomeho.featured_image_home.path }}" alt="buy your house">
                                    </div>
                                </a>

                                <div class="info-wrap">
                                    <div class="info-title">
                                        <h4><a href="{{ 'find-your-home-detail'|page({'slug':cp_eachhomeho.slug_home}) }}">{{ cp_eachhomeho.name_home }}</a></h4>
                                        <p>{{ 'Lancaster Lincoln'|_ }}</p>
                                    </div>
                                    <div class="house-info">
                                        <span>{{ cp_eachhomeho.lot_size_home}}m2</span>
                                        <span>
                                        {% if cp_eachhomeho.bedrooms_home == 'Studio'%}
                                        {{ cp_eachhomeho.bedrooms_home }}
                                        {% else %}
                                        {{ cp_eachhomeho.bedrooms_home }} {{'Bedrooms'|_}}
                                        {% endif %} </span>
                                        <span>{{ cp_eachhomeho.baths_home}} {{'Bathrooms'|_}}</span>

                                    </div>
                                    <div class="save-info">
                                        <div class="save-info-col">
                                            {% if auth %}
                                            {% set is_saved = 0 %}
                                            {% for cp_eachsh in cp_listsh %}
                                            {% if cp_eachsh.home_id == cp_eachhomeho.id and auth.id == cp_eachsh.member_id %}
                                            {% set is_saved = 1 %}
                                            {% endif %}
                                            {% endfor %}

                                            <a class="save_home_{{ cp_eachhomeho.id }} save-btn" href="#" data-request="onSaveHome" data-request-flash data-request-data="cp_detailhoid: {{cp_eachhomeho.id}}, cp_unsaveho: 0"
                                               data-request-success="$(this).css('display','none');$('.unsave_home_{{ cp_eachhomeho.id }}').css('display','inline-block');" {% if is_saved != 0 %} style="display: none;" {% endif %} >{{ 'Đã Lưu'|_ }} </a>


                                            <a class="save-btn-active unsave_home_{{ cp_eachhomeho.id }} save-btn" href="#" data-request="onSaveHome" data-request-flash data-request-data="cp_detailhoid: {{cp_eachhomeho.id}}, cp_unsaveho: 1"
                                               data-request-success="$(this).css('display','none');$('.save_home_{{ cp_eachhomeho.id }}').css('display','inline-block');" {% if is_saved == 0 %} style="display: none;" {% endif %}>{{ 'Lưu'|_ }} </a>


                                            {% else %}
                                            <a href="#login" class="save-btn">
                                                <span>{{ 'Lưu'|_ }}</span>
                                            </a>
                                            {% endif %}
                                        </div>
                                        <div class="save-info-col">
                                            <a href="{{ 'find-your-home-detail'|page({'slug':cp_eachhomeho.slug_home}) }}">
                                                <span>{{ 'Xem thêm'|_ }}</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="rent" class="tab-pane fade">
                <div class="buy-rent-slider dots-whitebg">
                    {% for cp_eachhomeho in cp_homeho %}
                    {% if cp_eachhomeho.type_home == '0'%}
                    <div class="slide">
                        <a href="{{ 'find-your-home-detail'|page({'slug':cp_eachhomeho.slug_home}) }}">
                            <div class="thumb">
                                <img src="{{ cp_eachhomeho.featured_image_home.path }}" alt="buy your house">
                            </div>
                        </a>
                        <div class="info-wrap">
                            <div class="info-title">
                                <h4><a href="{{ 'find-your-home-detail'|page({'slug':cp_eachhomeho.slug_home}) }}">{{ cp_eachhomeho.name_home }}</a></h4>
                                <p>{{ 'Lancaster Lincoln'|_ }}</p>
                            </div>
                            <div class="house-info">
                                <span>{{ cp_eachhomeho.lot_size_home}}m2 </span>
                                <span>
                                {% if cp_eachhomeho.bedrooms_home == 'Studio'%}
                                {{ cp_eachhomeho.bedrooms_home }}
                                {% else %}
                                {{ cp_eachhomeho.bedrooms_home }} {{'Bedrooms'|_}}
                                {% endif %} </span>

                                <span>{{ cp_eachhomeho.baths_home}} {{'Bathrooms'|_}}</span>

                            </div>
                            <div class="save-info">
                                <div class="save-info-col">
                                    {% if auth %}
                                    {% set is_saved = 0 %}
                                    {% for cp_eachsh in cp_listsh %}
                                    {% if cp_eachsh.home_id == cp_eachhomeho.id and auth.id == cp_eachsh.member_id %}
                                    {% set is_saved = 1 %}
                                    {% endif %}
                                    {% endfor %}

                                    <a class="save_home_{{ cp_eachhomeho.id }} save-btn" href="#" data-request="onSaveHome" data-request-flash data-request-data="cp_detailhoid: {{cp_eachhomeho.id}}, cp_unsaveho: 0"
                                       data-request-success="$(this).css('display','none');$('.unsave_home_{{ cp_eachhomeho.id }}').css('display','inline-block');" {% if is_saved != 0 %} style="display: none;" {% endif %} >{{ 'Đã Lưu'|_ }} </a>


                                    <a class="save-btn-active unsave_home_{{ cp_eachhomeho.id }} save-btn" href="#" data-request="onSaveHome" data-request-flash data-request-data="cp_detailhoid: {{cp_eachhomeho.id}}, cp_unsaveho: 1"
                                       data-request-success="$(this).css('display','none');$('.save_home_{{ cp_eachhomeho.id }}').css('display','inline-block');" {% if is_saved == 0 %} style="display: none;" {% endif %}>{{ 'Lưu'|_ }} </a>


                                    {% else %}
                                    <a href="#login" class="save-btn">
                                        <span>{{ 'Lưu'|_ }}</span>
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="save-info-col">
                                    <a href="{{ 'find-your-home-detail'|page({'slug':cp_eachhomeho.slug_home}) }}">
                                        <span>{{ 'Xem thêm'|_ }}</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
</div>
<!--end find your home-->

<script>
    let obj, svg, svgOriginalWidth, svgOriginalHeight, paper, curImgage, curve, winWidth, winHeight, scaleRatio = {x:0, y:0}, gapX = 0, gapY = 0, imgOriginalWidth, imgOriginalHeight, imgCurWidth, imgCurHeight, scaleCurveRatio, curveY, mask, bg, changePhotoTimeout;
    let win = $(window);
    let districtInfo = $('.district-info');
    let colors = {
        red: '#ff0000',
        white: '#ffffff',
        black: '#000000',
        dot: '#FFFFFF',
        navi: '#003349'
    };


    let images = [];
    let image = {{ location_district_guide | json_encode(constant('JSON_PRETTY_PRINT')) | raw }}
    image.forEach(function (item) {
        let obj = {
            'src' : 'storage/app/media/' + item.featured_img,
            'title' : item.title,
            'district' : item.name_location,
            'slug': item.slug
        }
        images.push(obj);
    });

    let imgRadius = 1500;
    let maskRadius = 210;
    let dotRadius = 8;
    let dotBorderRadius = 25;
    let dots = [];
    let dotDatas = [{
        s: 0.1
    },{
        s: 0.3
    },{
        s: 0.5
    },{
        s: 0.7
    },{
        s: 0.9
    },{
        s: 1.1
    },{
        s: 1.3
    }];

    dotDatas = dotDatas.splice(7 - images.length, images.length)

    let dotBorders = [];
    let districts = [];
    let slug = '';
    let waves = Raphael.animation({r: dotBorderRadius, opacity: 0}, 1500).repeat(Infinity);

    let alignTop = (t) => {
        var b = t.getBBox({
            width: 100
        });
        var h = Math.abs(b.y2) - Math.abs(b.y) + 1;

        t.attr({
            'y': b.y + h
        });
    }

    let init = () => {
        winWidth = win.width();
        winHeight = 818;
        svgOriginalWidth = 1820;
        svgOriginalHeight = 818;
        obj = $('#district-guides');
        paper = new Raphael("district-guides", svgOriginalWidth, svgOriginalHeight);
        paper.addGuides();
        paper.setViewBox(0, 0, svgOriginalWidth, svgOriginalHeight);
        svg = obj.find('svg').eq(0);
        fitSvg();

        let duration = 500;
        let activeIndex = 1;
        let activeImg = images[activeIndex].src;
        dotDatas[activeIndex].r = dotRadius;

        curImgage = paper.circle(910, 560, 0).attr({
            'fillfit': 'url(' + activeImg + ')',
            'stroke': 'none'
        });

        bg = paper.circle(910, 560, 0).attr({
            'fill': colors.navi,
            'fill-opacity': 0.6,
            'stroke': 'none'
        });

        mask = paper.circle(910, 560, 0).attr({
            'fillfit': 'url(' + activeImg + ')',
            'stroke': 'none'
        });

        curImgage.animate({
            'r': imgRadius
        }, duration, "ease-in");

        bg.animate({
            'r': imgRadius
        }, duration, "ease-in");

        mask.animate({
            'r': maskRadius
        }, duration, "ease-in");

        curve = paper.path("M0 505L2000 505").attr({
            'stroke': colors.white
        });

        curve.animate({
            'path': ("M0.3,474.8c0,0,199.5-147.4,400.2,18.8c82.4,68.2,247.8-87.4,348.3-18.8c42.6,29.1,101.7,67.1,161.8,86.9c87.4,21.9,128.8,22.7,183.6-66.9c118.8-194.1,568.3-20,726.2-20")
        }, 500, "linear", function() {
            for(let i in dotDatas) {
                dotBorders[i] = paper.circle(0, 0, dotRadius).attr({
                    'fill': 'none',
                    'stroke': colors.dot,
                    'stroke-dasharray': '- '
                }).attr({
                    guide: curve,
                    along: dotDatas[i].s
                });


                dots[i] = paper.circle(0, 0, dotRadius).attr({
                    'fill': colors.dot,
                    'stroke': 'none'
                }).attr({
                    guide: curve,
                    along: dotDatas[i].s,
                    cursor: 'pointer'
                }).click(function() {
                    changeDot(i, 750);
                    clearTimeout(changePhotoTimeout);
                    changeImg(images[i].src, 750);
                });

                districts[i] = paper.text(0, 45, ' ' + images[i].district).attr({
                    guide: curve,
                    along: dotDatas[i].s,
                    fill: colors.white,
                    cursor: 'pointer',
                    'font-size': 15,
                    'font-family': 'Montserrat',
                    'font-weight': 500
                }).click(function() {
                    changeDot(i, 750);
                    clearTimeout(changePhotoTimeout);
                    changeImg(images[i].src, 750);
                });
            }

            // districtLabel = paper.text(660, 570, 'DỰ ÁN').attr({
            // 	fill: colors.white,
            // 	'font-size': 14,
            // 	'font-family': 'Montserrat',
            // 	'font-weight': 300,
            // 	'text-anchor': 'start'
            // });

            // districtTitle = paper.text(660, 580, 'Project Name Lorem Ipsum').attr({
            // 	fill: colors.white,
            // 	'font-size': 20,
            // 	'font-family': 'Montserrat',
            // 	'font-weight': 400,
            // 	'text-anchor': 'start'
            // });

            // alignTop(districtTitle);

            // districtIcon = paper.path('M600 570L640 570').attr({
            // 	'stroke': colors.white
            // });

            changeDot(1, 100);
        });
    }

    let changeDot = (i, duration) => {
        let centerPoint = 0.5;
        let curAlong = dots[i].attr("along");
        let gapToMove = centerPoint - curAlong;

        for(let k in dotDatas) {
            dotBorders[k].stop().animate({opacity: 1, r: dotRadius - 3}, duration, "ease-in-out", function() {
                let r, color, along, opac;
                dotDatas[k].s = dotDatas[k].s + gapToMove;
                along = dotDatas[k].s;
                if(along <= 0 || along >= 1) {
                    opac = 0;
                } else if(along == centerPoint) {
                    opac = 1;
                } else {
                    opac = 1;
                }
                dots[k].animate({opacity: opac, along: along}, duration, "ease-in-out");
                districts[k].animate({opacity: opac, along: along}, duration, "ease-in-out");
                this.animate({opacity: opac, along : along}, duration, "ease-in-out", function() {
                    // this.animate({'opacity': 1, 'r': dotBorderRadius}, duration, "ease-in-out");
                    this.animate(waves);
                });
            });
        }

        districtInfo.animate({
            'opacity': 0
        }, 500, function() {
            $(this).find('.project-name a').html(images[i].title).end().delay(500).animate({
                'opacity': 1
            }, 500)
        });

        var districtGuidepageUrl = `{{ 'kham-pha-noi-song' | app }}`;
        $('.project-name a').wrap('<a href="'+ districtGuidepageUrl +'?tp=' + images[i].slug + '" />');


    }

    let changeImg = (nextImg, duration) => {
        bg.animate({
            'r': 0
        }, duration, "ease-in-out");

        mask.animate({
            'r': 0
        }, duration, "ease-in-out", function() {
            this.attr({
                'fillfit': 'url(' + nextImg + ')'
            });
        });

        curImgage.animate({
            'r': 0
        }, duration, "ease-in-out", function() {
            this.attr({
                'fillfit': 'url(' + nextImg + ')'
            });
        });

        changePhotoTimeout = setTimeout(() => {
            bg.animate({
            'r': imgRadius
        }, duration - 300, "ease-in-out");
        curImgage.animate({
            'r': imgRadius
        }, duration - 300, "ease-in-out");
        mask.animate({
            'r': maskRadius
        }, duration - 300, "ease-in-out");
    }, duration + 200);
    }

    let fitSvg = () => {
        scaleRatio.x = winWidth / svgOriginalWidth;
        scaleRatio.y = winHeight / svgOriginalHeight;
        let fitRatio = (scaleRatio.x > scaleRatio.y)?scaleRatio.x:scaleRatio.y;
        let fitLeftGap = (fitRatio * svgOriginalWidth - winWidth) / 2;
        let fitTopGap = (fitRatio * svgOriginalHeight - winHeight) / 2;
        svg.css({
            // 'zoom': fitRatio,
            'transform': 'scale(' + fitRatio + ')',
            'margin-left': -fitLeftGap,
            'margin-top': -fitTopGap
        });

        // if(winWidth < imgCurWidth) {
        // 	gapX = (imgCurWidth - winWidth) / 2;
        // 	gapY = 0;
        // } else {
        // 	scaleRatio.x = winWidth / imgCurWidth;
        // 	imgCurWidth = winWidth;
        // 	imgCurHeight = imgCurHeight * scaleRatio.x;
        // 	gapX = 0;
        // 	gapY = (imgCurHeight - winHeight) / 2;
        // }
    }

    let handleWindowResize = () => {
        winWidth = win.width();
        winHeight = 818;

        // paper.setSize(winWidth, winHeight);
        fitSvg();
    }

    window.addEventListener('load', init, false);
    window.addEventListener('resize', handleWindowResize, false);
</script>