.form-group-inside {
    width: 100%;
    overflow: hidden;
    margin: 0;
}
    .form-group-inside .money-currency {
        width: 15%;
        float: left;
        text-align: center;
    }
    .form-group-inside .money-format {
        width: 83%;
        float: right;
    }
