[members]

[localePicker]
forceUrl = 0

[ddSocialInfo]
==
{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="author" content="Lancaster">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {% if sharewebsiteurl %}
        <meta property="og:url"                content="{{sharewebsiteurl}}" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="{{sharewebsitetitle}}" />
        <meta property="og:description"        content="{{sharewebsitedescription|striptags|raw }}" />
        <meta property="og:image"              content="{{sharewebsiteimage.path}}" />
        {% endif %}

        <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
        <title>{{ this.page.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">


        <link href="{{ [
         'assets/css/bootstrap.min.css',
            'assets/css/elegant-icon.css',
            'assets/css/remodal.css',
            'assets/css/remodal-default-theme.css',
            'assets/css/magnific-popup.css',
            'assets/css/slick-theme.css',
            'assets/css/slick.css',
            'assets/css/style.css',
    ]|theme }}" rel="stylesheet" media="screen" />


        {% styles %}
        <script src="{{[
            'assets/js/jquery-3.2.1.min.js',
            'assets/js/raphael.min.js',
            'assets/js/raphael-guides.js',
        ]| theme}}"></script>
        {% scripts %}

    </head>

    <body class="{{ this.page.bodyClass }}">
        <div id="flash-message"></div>

        {% partial "header" %}
        
        {% page %}

        {% partial "footer" %}

        <script src="{{ [
            'assets/js/bootstrap.min.js',
            'assets/js/css-browser-selector.js',
            'assets/js/wait-for-images.js',
            'assets/js/TweenMax.min.js',
            'assets/js/slick.min.js',
            'assets/js/jquery.magnific-popup.min.js',
            'assets/js/happy.js',
            'assets/js/main.js',
            'assets/js/remodal.min.js',
            'assets/js/district-guide.js'
            ]|theme }}"></script>


        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


        {% framework extras %}
        {% scripts %}

    </body>
</html>
{% endspaceless %}