<section class="dd-s-section">
    <div class="layout">
        <div class="title-page greyColor">
            <h2 class="title-h2"> <strong>{{'Gallery'|_}} </strong>  </h2>
            <p>No one knows our cities as well as we do. Browse our comprehensive
                district guides to learn about the most desirable or most up-and-coming places to live across the country.</p>
        </div>
    </div>
    <div class="dd-b-categories">
        <div class="layout">
            <div class="dd-b-select-wraper">
                <select id="gallery-select">
                    <option value="1">Hình ảnh</option>
                    <option value="2">Video</option>
                    <option value="3">E-brochure</option>
                </select>
            </div>
        </div>
    </div>


    <div class="dd-b-content">
        <div class="layout">
            {% set numSlider = ddGalleryDetail.gallery_image.count/8 %}
            {% set startSlide = 0 %}
            <div class="dd-b-gallery-slider dd-image active">
                {% for i in 0..(numSlider|round(0, 'ceil') - 1) %}
                {% set varNumslider = 0 %}
                <div class="slide">
                    {% for gallery_img in ddGalleryDetail.gallery_image|slice(startSlide,8) %}
                    <div class="gallery-item gallery-item-detail">
                        <a href="{{ gallery_img.path }}" data-effect="mfp-zoom-in"><img src=" {{ gallery_img.path }}" alt=""></a>
                        <h4>{{gallery_img.title}}</h4>
                    </div>
                    {% endfor %}
                    {% set varNumslider = varNumslider + 1 %}
                    {% set startSlide = startSlide + (8*varNumslider) %}
                </div>
                {% endfor %}
            </div>

            <div class="dd-b-gallery-slider dd-video">
                <div class="slide">
                    {% if ddGalleryDetail.video %}
                    {% for video in ddGalleryDetail.video %}
                        {% if video.type == 1 %}
                        <div class="gallery-item dd-iframe">
                            <img src="{{ video.thumb_video|media }}" alt="">
                            <h4>{{video.title_video}}</h4>
                        </div>
                        {% else %}
                        <div class="gallery-item dd-iframe">
                            <a href="http://www.youtube.com/watch?v={{ video.link_video }}" data-effect="mfp-zoom-in"><img src="{{ video.thumb_video|media }}" alt=""></a>
                            <h4>{{video.title_video}}</h4>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% else%}
                    No Video to show
                    {% endif %}
                </div>
            </div>
            <div class="dd-b-gallery-slider dd-e-brochure">
                <a href="{{ddGalleryDetail.attach_file.path}}">
                    <img src="{{'assets/images/ebrochure.png'|theme}}" alt="">
                </a>
            </div>
        </div>

    </div>
</section>
