<div data-control="toolbar">
    <?php if ($this->user->hasAnyAccess(['domdom.cms.manage_question'])): ?>
        <div class="btn-group">
            <a
                href="<?= Backend::url('domdom/cms/askaquestions/export') ?>"
                class="btn btn-default oc-icon-download">
                Export data
            </a>
        </div>
    <?php endif ?>
</div>
