{% set cp_listho = __SELF__.cp_listho %}
{% set cp_listsh = __SELF__.cp_listsh %}
{% set cp_listlcho = __SELF__.cp_listlcho %}
{% set cp_listdtho = __SELF__.cp_listdtho %}
{% set cp_searchtype = __SELF__.cp_searchtype %}
{% set cp_searchbathroom = __SELF__.cp_searchbathroom %}
{% set cp_searchbedroom = __SELF__.cp_searchbedroom %}
{% set cp_searchdistricts = __SELF__.cp_searchdistricts %}
{% set cp_searchmaximum = __SELF__.cp_searchmaximum %}
{% set cp_searchminimum = __SELF__.cp_searchminimum %}

<div id="result_type" data-valtypehome="{{ cp_searchtype }}"></div>
<div id="result_bathroom" data-valbathroomhome="{{ cp_searchbathroom }}"></div>
<div id="result_bedroom" data-valbedroomhome="{{ cp_searchbedroom }}"></div>
<div id="result_district" data-valdistricthome=""></div>
<div id="result_maximum" data-valmaximumhome="{{ cp_searchmaximum }}"></div>
<div id="result_minimum" data-valminimumhome="{{ cp_searchminimum }}"></div>

<div class="find-your-home-page">
    <div class="title-page greyColor layout">
        <h2 class="title-h2"> <strong>{{'Find'|_}} </strong>  {{'YOUR HOME'|_}} </h2>
    </div>

    <div class="layout">
        <form data-request="onSearchHome"
              data-request-update="filterhome: '#filterhome'"
              data-request-success="
                $('#result_type').data('valtypehome', data.searchtype);
                $('#result_bathroom').data('valbathroomhome', data.searchbathroom);
                $('#result_bedroom').data('valbedroomhome', data.searchbedroom);
                $('#result_district').data('valdistricthome', data.searchdistrict);
                $('#result_minimum').data('valminimumhome', data.searchminimum);
                $('#result_maximum').data('valmaximumhome', data.searchmaximum);
                url_change();">
            <div class="dd-b-search-wrapper">
                <div class="search">
                    <input name="searchtype" type="text" {% if cp_searchtype != '' %} value=" {{ cp_searchtype }}" {% else %} placeholder="{{'Which apartment type you are looking for?'|_}}" {% endif %}>
                </div>
            </div>

            <div class="filter-mobile">
                <a href="#filter"> {{ 'Filters Search' |_}}</a>
            </div>

            <div class="filter-col filter-col-1">
                <div class="filter" data-remodal-id="filter">
                <span class="close-btn mobile-only" data-remodal-action="close">
                    {{ 'Close' |_}}
                </span>
                    <div class="filter-option">
                        <div class="filter-row-content">
                            <h4 class="filter-title">{{'Location'|_}}</h4>
                            <ul class="filter-ul">
                                {% for cp_lcho in cp_listlcho %}
                                <li>
                                    <label class="control control--checkbox">{{cp_lcho.name_location}}
                                        <input type="checkbox"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                    <ul>
                                        {% for cp_dtho in cp_listdtho %}
                                        {% if cp_dtho.location_district == cp_lcho.id %}
                                        <li>
                                            <label class="control control--checkbox">{{'District'|_}} {{cp_dtho.name_district}}
                                                <input type="checkbox" value="{{ cp_dtho.id }}" name="searchdistrict[]" onchange="$(this).closest('form').trigger('submit');"
                                                       {% if cp_searchdistricts %}
                                                       {% for cp_searchdistrict in cp_searchdistricts %}s
                                                       {% if cp_searchdistrict == cp_dtho.id %}
                                                       checked
                                                       {% endif %}
                                                       {% endfor %}
                                                       {% endif %}
                                                />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="filter-row-content price-range">

                            <h4 class="filter-title">{{'Price Range'|_}}</h4>
                                <div class="range-slider" id="dd-min-price">
                                    <div class="dd-head">
                                        <h4>{{'Min Price'|_}}</h4>
                                        <div class="range-slider__value">400,000,000</div>
                                    </div>
                                    <input onchange="$(this).closest('form').trigger('submit');" id="dd-minPrice" name="minPrice" class="range-slider__range" type="range" value="400000000" min="100000000" max="5000000000" step="10000000">
                                    <div class="limit-val">
                                        <span>100,000,000</span>
                                        <span>5,000,000,000</span>
                                    </div>
                                </div>
                                <div class="range-slider" id="dd-max-price">
                                    <div class="dd-head">
                                        <h4>{{'Max Price'|_}}</h4>
                                        <div class="range-slider__value">1,000,000,000</div>
                                    </div>
                                    <input onchange="$(this).closest('form').trigger('submit');" id="dd-maxPrice" name="maxPrice" class="range-slider__range" type="range" value="1000000000" min="100000000" max="5000000000" step="10000000">
                                    <div class="limit-val">
                                        <span>100000000</span>
                                        <span>5000000000</span>
                                    </div>
                                </div>


                        </div>
                        <div class="filter-row-content">
                            <h4 class="filter-title">{{'Bedroom'|_}}</h4>
                            <ul class="filter-ul">
                                <li>
                                    <label class="control control--checkbox">
                                        {{'All'|_}}
                                        <input type="radio" value="" name="searchbedroom"
                                               checked onchange="$(this).closest('form').trigger('submit');"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                </li>
                                {% set arraybedroom = [1,2,3,4,5,6] %}
                                {% for eachbedroom in arraybedroom %}
                                <li>
                                    <label class="control control--checkbox">
                                        {% if eachbedroom == 5 %} 5+ {% elseif eachbedroom == 6 %} Studio {% else %} {{ eachbedroom }} {% endif %}
                                        <input type="radio" value="{{ eachbedroom }}" name="searchbedroom"
                                               {% if cp_searchbedroom == eachbedroom %} checked {% endif %} onchange="$(this).closest('form').trigger('submit');"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="filter-row-content">
                            <h4 class="filter-title">{{'Bathroom'|_}}</h4>
                            <ul class="filter-ul">
                                <li>
                                    <label class="control control--checkbox">
                                        {{'All'|_}}
                                        <input type="radio" value="" name="searchbathroom"
                                               checked onchange="$(this).closest('form').trigger('submit');"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                </li>
                                {% set arraybathroom = [1,2,3,4,5] %}
                                {% for eachbathroom in arraybathroom %}
                                <li>
                                    <label class="control control--checkbox">
                                        {% if eachbathroom == 5 %} 5+ {% else %} {{ eachbathroom }} {% endif %}
                                        <input type="radio" value="{{eachbathroom}}" name="searchbathroom"
                                               {% if cp_searchbathroom == eachbathroom %} checked {% endif %} onchange="$(this).closest('form').trigger('submit');"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <input type="submit" value="Sent" class="btn-custom greyHover transparentClass mobile-only">
                    </div>
                </div>
            </div>
            <div class="filter-col filter-col-2 filter-item " id="filterhome">
                {% partial 'filterhome' cp_listho=cp_listho cp_listsh=cp_listsh %}
            </div>

        </form>


    </div>

</div>


