{% set cp_detailev = __SELF__.cp_detailev %}
{% set cp_checkse = __SELF__.cp_checkse %}
{% set cp_checkre = __SELF__.cp_checkre %}

<div class="event-detail-page">
    <div class="layout">
        <div class="find-your-home-detail-top dd-row-fluid">
            <div class="top-left span-8">
                <div class="find-yourhome-detail-top-left">
                    <div class="dd-b-title-and-location-wrapper">
                        <div class="dd-b-title-wrap">
                            <div class="title-apartment">{{'Openning Sale' |_}}</div>
                            <div class="more-info-apartment">{{ cp_detailev.name_event }}</div>
                        </div>
                        <div class="location-wrapper">
                            <a href="{{cp_detailev.map_event}}" target="_blank">
                                <img src="{{ 'assets/images/location-icon.svg' |theme }}" alt="location home">
                            </a>
                            <span class="desktop-only">{{ 'Vị trí' |_}}</span>
                        </div>
                    </div>

                    <ul class="more-info">
                        <li>
                            {{cp_detailev.location_event}}
                        </li>
                        <li>
                            {{cp_detailev.start_time|date("M d Y")}} {{'to'|_}} {{cp_detailev.end_time|date("M d Y")}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top-right span-4 pull-right">
                <div class="find-yourhome-detail-top-right dd-row-fluid">
                    <a href="#" class="btn-custom greyHover btn-ask span-8">{{'Đặt câu hỏi'|_}}</a>
                    <div class="span-4 dd-b-btns">
                        <div class="width-50 hidden">
                            {% if cp_checkse > 0 %}
                            <a href="#" class="active save-btn" data-request="onSaveHome" data-request-flash data-request-data="cp_detailevid: {{cp_detailev.id}},cp_unsaveev:1" data-request-success="delayreload();">{{'Đã '|_}}</a>
                            {% elseif cp_checkse == -1 %}
                            <a href="#login" class="save-btn">
                                <span>{{'SAVE'|_}}</span>
                            </a>
                            {% else %}
                            <a href="#" class="save-btn" data-request="onSaveHome" data-request-flash data-request-data="cp_detailevid: {{cp_detailev.id}},cp_unsaveev:0" data-request-success="delayreload();">{{'Lưu'|_}}</a>
                            {% endif %}
                        </div>
                        <div class="width-50 float-right">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{sharewebsiteurl}}" class="share-btn" target="_blank">
                                <span>{{'Chia sẻ'|_}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="find-your-home-detail-slider dots-whitebg">
            {% for each_photo_event in cp_detailev.photos_event %}
            <div class="slide-item">
                <figure>
                    <img src="{{each_photo_event.path}}" alt="">
                </figure>
            </div>
            {% endfor %}
        </div>

        <div class="event-detail-content-wrap">
            <div class="layout">
                <div class="event-detail-content">
                    <h3 class="dis-content-title">{{'Chi tiết sự kiện'|_}}</h3>
                    <div class="dd-row-fluid">
                        <div class="event-detail-info dd-b-first-content span-3">
                            <p class="open-sale-text">{{'Lancaster Lincoln Openning Sale'}}</p>
                            <p class="date-open">{{cp_detailev.start_time|date("l, F d, Y g:i a")}} - {{cp_detailev.end_time|date("l, F d, Y g:i a")}}</p>
                        </div>
                        <div class="event-detail-info span-3">
                            {% if cp_checkre > 0 %}
                            <a href="#" class="btn-custom greyHover" data-request="onRegistrationEvent" data-request-flash data-request-data="cp_detailevid: {{cp_detailev.id}},cp_unreev:1" data-request-success="delayreload();">{{'Registed'|_}}</a>
                            {% elseif cp_checkre == -1 %}
                            <a href="#login" class="btn-custom greyHover">{{'Registration'|_}}</a>
                            {% else %}
                            <a href="#" class="btn-custom greyHover" data-request="onRegistrationEvent" data-request-flash data-request-data="cp_detailevid: {{cp_detailev.id}},cp_unreev:0" data-request-success="delayreload();">{{'Registration'|_}}</a>
                            {% endif %}
                        </div>
                        <div class="event-detail-info span-3">
                            <a href="#" class="btn-custom btn-ask-cal">{{'Thêm vào Calendar'|_}}</a>
                            <ul class="calendar-options">
                                <li><a href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0ADSSTAMP:20161204T084853Z%0ADTSTART:{{ cp_detailev.start_time|date( 'Ymd\\THis\\Z', 'UTC' ) }}%0ADTEND:{{ cp_detailev.end_time|date( 'Ymd\\THis\\Z', 'UTC' ) }}%0ASUMMARY:{{ cp_detailev.name_event }}%0ADESCRIPTION:{{ cp_detailev.description_event }}%0ALOCATION:{{ cp_detailev.location_event }}%0AEND:VEVENT%0AEND:VCALENDAR">Outlook</a></li>
                                <li><a target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ cp_detailev.name_event }}&dates={{ cp_detailev.start_time|date( 'Ymd\\THis\\Z', 'UTC' ) }}/{{ cp_detailev.end_time|date( 'Ymd\\THis\\Z', 'UTC' ) }}&details=&location={{ cp_detailev.location_event }}&sprop=&sprop=name:">Google Calendar</a></li>
                                <li><a href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0ADSSTAMP:20161204T084853Z%0ADTSTART:{{ cp_detailev.start_time|date( 'Ymd\\THis\\Z', 'UTC' ) }}%0ADTEND:{{ cp_detailev.end_time|date( 'Ymd\\THis\\Z', 'UTC' ) }}%0ASUMMARY:{{ cp_detailev.name_event }}%0ADESCRIPTION:{{ cp_detailev.description_event }}%0ALOCATION:{{ cp_detailev.location_event }}%0AEND:VEVENT%0AEND:VCALENDAR">iCal</a></li>
                            </ul>
                        </div>
                        <aside class="event-detail-info span-3">
                            <p>{{'This event will be webcast live from this page.'|_}}</p>
                        </aside>
                    </div>

                    {{cp_detailev.description_event|raw}}

                </div>
                <div class="ask-a-question">
                    <h3 class="dis-content-title">{{'Ask a Question. Schedule a Showing. Inquire...'|_}}</h3>
                    {% component "askaquestion" %}
                </div>
            </div>
        </div>
    </div>


<script src="{{'assets/js/jquery-3.2.1.min.js'|theme }}"></script>
