<div data-control="toolbar">
    <?php if ($this->user->hasAnyAccess(['domdom.cms.manage_contacts'])): ?>
        <div class="btn-group">
            <a
                href="<?= Backend::url('laminsanneh/flexicontact/contacts/export') ?>"
                class="btn btn-default oc-icon-download">
                Export data
            </a>
        </div>
    <?php endif ?>
</div>
